<!--------------------------------BARES CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">  
    <div class="col" *ngIf="showBar"> 
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-bares rounded border border-primary">
        <a class="navbar-brand text-primary bg-bares rounded" *ngIf="formTitles.baresDate">{{formTitles.baresDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-bares rounded" *ngIf="formTitles.baresTitle">{{formTitles.baresTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-bares rounded" *ngIf="createBar">{{formTitles.barCreate}}<i class="fas fa-arrow-right"></i></a>
        <a class="navbar-brand text-primary bg-bares rounded" *ngIf="editBar">{{formTitles.barEdit}}<i class="fas fa-arrow-right"></i></a>
        <div class="btn-group mr-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" *ngIf="createBar" (click)="createBarBtnClick(barForm)" 
                    [disabled]="barForm.invalid"> <span><i class="fas fa-save"></i></span> </button>        
          <button class="btn btn-outline-primary rounded mr-2" *ngIf="editBar" (click)="updateBarBtnClick(barForm)" 
                    [disabled]="barForm.invalid"> <span><i class="fas fa-edit"></i></span> </button>             
        </div>  
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="ClosedBaresCreateModalBtnClick()">
                    <span> <i class="fas fa-reply-all"></i></span> </button>
        </div> 
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="cleanFormBarBtnClick()">
                    <span><i class="fas fa-eraser"></i></span> </button>           
        </div> 
      </nav>
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <form [formGroup]=barForm>
            <div class="form-row">
              <label for="barId" class="col-sm-3 col-form-label">{{formLabels.barId}}</label>
              <div class="col-sm-4">
                <input id="barId" name="barId" class="form-control ml-auto" formControlName="barId" 
                      type="text" style="width:500px;text-align:right;" readonly>
              </div>
            </div>
            <div class="form-row">   
              <label for="barDate" class="col-sm-3 control-label">{{formLabels.barDate}}</label>
              <div class="col-sm-4">
                <input id="barDate" name="barDate" class="form-control ml-auto" formControlName="barDate"
                          placeholder="Datepicker" bsDatepicker [bsConfig]="baresDatePickerConfig"
                          [value]="currentDate | date: 'dd-MM-yyyy'"                     
                          type="text" style="width:500px;text-align:right;" readonly>
              </div>
            </div>
            <div class="form-row">   
              <label for="barName" class="col-sm-3 control-label">{{formLabels.barName}}</label>
              <div class="col-sm-4">
                <input id="barName" name="barName" class="form-control ml-auto" formControlName="barName" 
                      type="text" style="width:500px;text-align:right;">
                <validation-messages [control]="barForm.get('barName')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="barLongName" class="col-sm-3 control-label">{{formLabels.barLongName}}</label>
              <div class="col-sm-4">
                <input id="barLongName" name="barLongName" class="form-control ml-auto" formControlName="barLongName" 
                      type="text" style="width:500px;text-align:right;">
                <validation-messages [control]="barForm.get('barLongName')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="barLegalName" class="col-sm-3 control-label">{{formLabels.barLegalName}}</label>
              <div class="col-sm-4">
                <input id="barLegalName" name="barLegalName" class="form-control ml-auto" formControlName="barLegalName" 
                      type="text" style="width:500px;text-align:right;">
                <validation-messages [control]="barForm.get('barLegalName')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="barCIF" class="col-sm-3 control-label">{{formLabels.barCIF}}</label>
              <div class="col-sm-4">
                <input id="barCIF" name="barCIF" class="form-control ml-auto" formControlName="barCIF" 
                      type="text" style="width:500px;text-align:right;">
                <validation-messages [control]="barForm.get('barCIF')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="barAddress" class="col-sm-3 control-label">{{formLabels.barAddress}}</label>
              <div class="col-sm-4">
                <input id="barAddress" name="barAddress" class="form-control ml-auto" formControlName="barAddress" 
                      type="text" style="width:500px;text-align:right;">
                <validation-messages [control]="barForm.get('barAddress')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="barEmail" class="col-sm-3 control-label">{{formLabels.barEmail}}</label>
              <div class="col-sm-4">
                <input id="barEmail" name="barEmail" class="form-control ml-auto" formControlName="barEmail" 
                      type="text" style="width:500px;text-align:right;">
                <validation-messages [control]="barForm.get('barEmail')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="barWebSite" class="col-sm-3 control-label">{{formLabels.barWebSite}}</label>
              <div class="col-sm-4">
                <input id="barWebSite" name="barWebSite" class="form-control ml-auto" formControlName="barWebSite" 
                       type="text" style="width:500px;text-align:right;">
                <validation-messages [control]="barForm.get('barWebSite')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="barPhone" class="col-sm-3 control-label">{{formLabels.barPhone}}</label>
              <div class="col-sm-4">
                <input id="barPhone" name="barPhone" class="form-control ml-auto" formControlName="barPhone" 
                      type="text" style="width:500px;text-align:right;">
                <validation-messages [control]="barForm.get('barPhone')"></validation-messages>    
              </div>
            </div>             
            <div class="form-row">
              <label for="barDbUrl" class="col-sm-3 control-label">{{formLabels.barDbUrl}}</label>
              <div class="col-sm-4">
                <select id="barDbUrl" name="barDbUrl" class="form-control ml-auto" formControlName="barDbUrl" 
                      appSelectValidator="{{localDbUrlsRecordList[0].value}}" style="width:500px;direction:rtl;">
                  <option *ngFor="let barDbUrl of localDbUrlsRecordList" [value]="barDbUrl.value" style="direction:rtl"> {{barDbUrl.value}} </option>
                </select>
                <validation-messages  [control]="barForm.get('barDbUrl')"></validation-messages>    
              </div>
            </div> 
            <div class="form-row">
              <label for="barDbName" class="col-sm-3 control-label">{{formLabels.barDbName}}</label>
              <div class="col-sm-4">
                <input id="barDbName" name="barDbName" class="form-control ml-auto" formControlName="barDbName" 
                      type="text" style="width:500px;text-align:right;">
                <validation-messages [control]="barForm.get('barDbName')"></validation-messages>    
              </div>
            </div>            
            <div class="form-row">
              <label for="barDbPassword" class="col-sm-3 control-label">{{formLabels.barDbPassword}}</label>
              <div class="col-sm-4">
                <input id="barDbPassword" name="barDbPassword" class="form-control ml-auto" formControlName="barDbPassword" 
                      type="text" style="width:500px;text-align:right;">
                <validation-messages [control]="barForm.get('barDbPassword')"></validation-messages>    
              </div>
            </div> 
            <div class="form-row">
              <label for="barDbUserName" class="col-sm-3 control-label">{{formLabels.barDbUserName}}</label>
              <div class="col-sm-4">
                <select id="barDbUserName" name="barDbUserName" class="form-control ml-auto" formControlName="barDbUserName" 
                      appSelectValidator="{{localDbUserNamesRecordList[0].value}}" style="width:500px;direction:rtl;">
                  <option *ngFor="let barDbUserName of localDbUserNamesRecordList" [value]="barDbUserName.value" style="direction:rtl"> {{barDbUserName.value}} </option>
                </select>
                <validation-messages  [control]="barForm.get('barDbUserName')"></validation-messages>    
              </div>
            </div>     
            <div class="form-row">
              <label for="barDbDriverClassName" class="col-sm-3 control-label">{{formLabels.barDbDriverClassName}}</label>
              <div class="col-sm-4">
                <select id="barDbDriverClassName" name="barDbDriverClassName" class="form-control ml-auto" formControlName="barDbDriverClassName" 
                      appSelectValidator="{{localDbDriverClassNamesRecordList[0].value}}" style="width:500px;direction:rtl;">
                  <option *ngFor="let barDbDriverClassName of localDbDriverClassNamesRecordList" [value]="barDbDriverClassName.value" style="direction:rtl"> {{barDbDriverClassName.value}} </option>
                </select>
                <validation-messages  [control]="barForm.get('barDbDriverClassName')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="barDbDdlAuto" class="col-sm-3 control-label">{{formLabels.barDbDdlAuto}}</label>
              <div class="col-sm-4">
                <select id="barDbDdlAuto" name="barDbDdlAuto" class="form-control ml-auto" formControlName="barDbDdlAuto" 
                      appSelectValidator="{{localDbDdlAutosRecordList[0].value}}" style="width:500px;direction:rtl;">
                  <option *ngFor="let barDbDdlAuto of localDbDdlAutosRecordList" [value]="barDbDdlAuto.value" style="direction:rtl"> {{barDbDdlAuto.value}} </option>
                </select>
                <validation-messages  [control]="barForm.get('barDbDdlAuto')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="barDbPhysNameStrategy" class="col-sm-3 control-label">{{formLabels.barDbPhysNameStrategy}}</label>
              <div class="col-sm-4">
                <select id="barDbPhysNameStrategy" name="barDbPhysNameStrategy" class="form-control ml-auto" formControlName="barDbPhysNameStrategy" 
                      appSelectValidator="{{localDbPhysNStrategysRecordList[0].value}}" style="width:500px;direction:rtl;">
                  <option *ngFor="let barDbPhysNameStrategy of localDbPhysNStrategysRecordList" [value]="barDbPhysNameStrategy.value" style="direction:rtl"> {{barDbPhysNameStrategy.value}} </option>
                </select>
                <validation-messages  [control]="barForm.get('barDbPhysNameStrategy')"></validation-messages>    
              </div>
            </div> 
            <div class="form-row">            
              <label for="barStatus" class="col-sm-3 control-label">{{formLabels.barStatus}}</label>            
              <label class="col-2 col-form-label"><span>Bloquear</span></label>
              <div class="custom-control custom-switch">
                <input class="custom-control-input col-2 col-form-label" type="checkbox" id="barStatusSwitch" 
                      formControlName="barStatus" style="width:500px">
                <label class="custom-control-label col-form-label" for="barStatusSwitch">Desbloquear</label>
              </div>
            </div>        
          </form>
        </div>
      </div>  
    </div> 
  </div>