<!--------------------------------FIELDS---NAVBAR---------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-light text-danger bg-white rounded border border-primary menu_pos1">
  <a class="navbar-brand text-danger bg-white rounded">{{formTitles.fields}} <i class="fas fa-thumbs-up"></i></a>
  <div class="btn-group mx-auto" role="group">
    <button class="btn btn-outline-danger rounded mr-2" (click)="changeShowFieldsListBtnClick()"><span><i class="fas fa-list-ol"></i></span></button>
  </div>  
  <div class="btn-group ml-auto" role="group">
    <button class="btn btn-outline-danger rounded mr-2" (click)="loadDefaultFieldsAndValuesBtnClick()"><span><i class="fas fa-download"></i></span></button>
  </div>     
</nav>
<!--------------------------------FIELDS---LIST---------------------------------------------------------------------->
<div *ngIf="showFieldsList">
  <nav class="navbar navbar-expand-lg navbar-light text-danger bg-fields rounded border border-primary menu_pos2">
    <a class="navbar-brand text-danger bg-fields rounded "> {{formTitles.fieldsList}} <i class="fas fa-arrow-alt-circle-right"></i>  </a>  
    <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-danger rounded mr-8" (click)="showCreateFieldBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
    </div>        
    <div class="btn-group ml-auto" role="group">
      <button class="btn btn-outline-danger rounded mr-2" (click)="searchFieldsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
      <button class="btn btn-outline-danger rounded mr-2" (click)="confirmDeleteAllFieldsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
    </div>  
  </nav>
  <div class="card bg-white text-black rounded border border-dark">
    <div class="card-body scrollable">
      <table class="table table-hover">
        <thead class="sticky-top">
          <tr class="bg-fields" *ngIf="showSearchFields">
            <th>-</th>
            <th><input id="sfieldId" name="sfieldId" [(ngModel)]="searchField.fieldId" type="number" 
                max="9999" class="input-group-text" style="width:100px"></th>
            <th><input id="sfieldName" name="sfieldName" [(ngModel)]="searchField.fieldName" type="text" 
                class="input-group-text" style="width:100px"></th>
            <th><input id="sfieldExplan" name="sfieldExplan" [(ngModel)]="searchField.fieldExplan" type="text" 
                class="input-group-text" style="width:150px"></th>
            <th><input id="sfieldValuesString" name="sfieldValuesString" [(ngModel)]="searchField.fieldValuesString" type="text" 
                class="input-group-text" style="width:150px"></th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
          </tr>
          <tr class="bg-listheading">
            <th>#</th>
            <th [class.active]="order === 'fieldId'" (click)="setOrderBtnClick('fieldId')">
              {{formLabels.fieldId            | slice:0:4}}
              <span [hidden]="!reverse"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverse"><i class="fas fa-arrow-circle-up"></i></span> </th>
            <th [class.active]="order === 'fieldName'" (click)="setOrderBtnClick('fieldName')" class="mdl-data-table__cell--non-numeric">
              {{formLabels.fieldName          | slice:0:12}}
              <span [hidden]="!reverse">▼</span>  <span [hidden]="reverse">▲</span> </th>
            <th [class.active]="order === 'fieldExplan'" (click)="setOrderBtnClick('fieldExplan')" class="mdl-data-table__cell--non-numeric">
              {{formLabels.fieldExplan        | slice:0:40}}
              <span [hidden]="!reverse">▼</span>  <span [hidden]="reverse">▲</span> </th>
            <th [class.active]="order === 'fieldValuesString'" (click)="setOrderBtnClick('fieldValuesString')" class="mdl-data-table__cell--non-numeric">
              {{formLabels.fieldValuesString  | slice:0:40}}
              <span [hidden]="!reverse">▼</span>  <span [hidden]="reverse">▲</span> </th>
            <th [class.active]="order === 'fieldStatus'" (click)="setOrderBtnClick('fieldStatus')" class="mdl-data-table__cell--non-numeric">
              <!--{{formLabels.fieldStatus | slice:0:4}}-->
              <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
              <span [hidden]="!order">▼</span>  <span [hidden]="reverse">▲</span> </th>
            <th>{{formLabels.fieldEditList    | slice:0:6}}</th>
            <th><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></th>
            <th>{{formLabels.fieldDelete      | slice:0:6}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let field of fields | orderBy: order:reverse:caseInsensitive | filterBy: searchField ; let i = index">
            <td>{{i}}</td>
            <td>{{field.fieldId           | number:'1.0-0'}}</td>
            <td>{{field.fieldName         | slice:0:12}}</td>
            <td>{{field.fieldExplan       | slice:0:40}}</td>
            <td>{{field.fieldValuesString | slice:0:40}}</td>
            <td *ngIf="field.fieldStatus"><i class="fas fa-unlock-alt"></i></td>
            <td *ngIf="!field.fieldStatus"><i class="fas fa-lock"></i></td>
            <td>
                <button type="button" class="btn btn-default btn-sm" (click)="editOneFieldBtnClick(field)">
                  <span> <i class="fas fa-edit"></i></span>
                </button>
            </td>
            <td>
              <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockFieldBtnClick(field)"> 
                    <span> <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></span> </button>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm" (click)="[confirmDeleteOneFieldBtnClick(field)]">
                  <span> <i class="fas fa-trash"></i></span>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</div>
