thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}
thead th span {
    visibility: hidden;
  }
thead th.active {
    color: rgb(119, 14, 7);
}
thead th.active span {
      visibility: visible;
}

