
<!-------------------------------- FIELD VALUES ---CREATE AND EDIT DETAILS FORM AND LIST---------------------------------------------------------------------->
<div class="row">  
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-danger bg-values rounded border border-primary">
      <a class="navbar-brand text-danger bg-values rounded"> {{valuesTitle}}<i class="fas fa-arrow-right"></i></a>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="closeValuesCreateModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>   
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="saveValueBtnClick()" [disabled]="valueForm.invalid">
             <span> <i class="fas fa-save"></i></span></button>
      </div>
    </nav>
    <!-------------------------------- FIELD VALUES ---CREATE DETAILS FORM ---------------------------------------------------------------------->
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-header">
        <a class="navbar-brand text-danger rounded">
            {{formLabels.fieldId}} &emsp; <i class="fas fa-long-arrow-alt-right"></i> &emsp; {{newField.fieldId}} 
            <br>{{formLabels.fieldName}} &emsp; <i class="fas fa-long-arrow-alt-right"></i> &emsp; {{newField.fieldName}} 
            <br>{{formLabels.fieldExplan}} &emsp; <i class="fas fa-long-arrow-alt-right"></i> &emsp; {{newField.fieldExplan}}
            <br>{{formLabels.fieldValuesString}} &emsp; <i class="fas fa-long-arrow-alt-right"></i> &emsp; {{newField.fieldValuesString}}
        </a>  
      </div>
      <div class="card-body">
        <form [formGroup]=valueForm>
          <div class="form-row">
            <label for="valueId" class="col-sm-3 col-form-label">{{formLabels.valueId}}</label>
            <div class="col-sm-9">
              <input id="valueId" name="valueId" class="form-control" formControlName="valueId" 
                    type="text" readonly>
            </div>
          </div>
          <div class="form-row">
            <label for="fieldId" class="col-sm-3 col-form-label">{{formLabels.fieldId}}</label>
            <div class="col-sm-9">
              <input id="fieldId" name="fieldId" class="form-control" formControlName="fieldId" 
                    type="text" readonly>
            </div>
          </div>
          <div class="form-row">   
            <label for="valueName" class="col-sm-3 control-label">{{formLabels.valueName}}</label>
            <div class="col-sm-9">
              <input id="valueName" name="valueName" class="form-control" formControlName="valueName" 
                    type="text">
              <validation-messages [control]="valueForm.get('valueName')"></validation-messages> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>