<!-------------------------------- ART FACTS LIST ---------------------------------------------------------------------->
<div class="row">
  <div class="col" *ngIf="showArtFactList"> 
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artFacts rounded border border-primary">        
      <a class="navbar-brand text-primary bg-artFacts rounded mr-auto" style="font-weight:900">{{formTitles.artFactList}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-danger  bg-artFacts rounded mx-auto" style="font-size:16px;font-weight:900">{{formTitles.artFactTotalString | slice:0:25}}</a>     
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded" (click)="closeArtFactListModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>  
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artFacts rounded border border-primary">
      <a class="navbar-brand text-primary bg-artFacts rounded col-2" style="font-size:16px;font-weight:900">{{formTitles.selectedArtTitle}}</a>    
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900"><i class="fas fa-arrow-alt-circle-right"></i></a> 
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900">{{selectedArt.artId}}</a> 
      <a class="navbar-brand text-primary bg-artFacts rounded col-3" style="font-size:16px;font-weight:900">{{selectedArt.artName}}</a> 
      <a class="navbar-brand text-primary bg-artFacts rounded col-2" style="font-size:16px;font-weight:900">{{selectedArt.artType}}</a>  
      <a class="navbar-brand text-primary bg-artFacts rounded col-2" style="font-size:16px;font-weight:900">{{selectedArt.artDate}}</a>  
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artFacts rounded border border-primary">
      <a class="navbar-brand text-primary bg-artFacts rounded col-2" style="font-size:16px;font-weight:900">{{formTitles.artFactTotals | slice:0:10}}</a>    
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900">{{addedArtFact.artFactArtUnitPrice  | number:'.2-2'}}</a> 
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900">{{addedArtFact.artFactArtPackageUnits  | number:'.2-2'}}</a> 
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900">{{addedArtFact.artFactArtPackagePrice  | number:'.2-2'}}</a>  
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900">{{addedArtFact.artFactQuantity  | number:'.2-2'}}</a>  
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900">{{addedArtFact.artFactDiscount  | number:'.2-2'}}</a>  
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900">{{addedArtFact.artFactNetCost  | number:'.2-2'}}</a>  
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900">{{addedArtFact.artFactTax  | number:'.2-2'}}</a>  
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900">{{addedArtFact.artFactTotalCost  | number:'.2-2'}}</a>  
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-listheading">
              <th class="mdl-data-table__cell--non-numeric text-left"> {{formTitles.artFactTotals            | slice:0:10}}</th>
              <th class="mdl-data-table__cell--non-numeric text-left"> {{addedArtFact.artFactArtUnitPrice    | number:'.2-2'}}</th>
              <th class="mdl-data-table__cell--non-numeric text-left"> {{addedArtFact.artFactArtPackageUnits | number:'.2-2'}}</th>
              <th class="mdl-data-table__cell--non-numeric text-left"> {{addedArtFact.artFactArtPackagePrice | number:'.2-2'}}</th>
              <th class="mdl-data-table__cell--non-numeric text-left"> {{addedArtFact.artFactQuantity        | number:'.2-2'}}</th>
              <th class="mdl-data-table__cell--non-numeric text-left"> {{addedArtFact.artFactDiscount        | number:'.2-2'}}</th>
              <th class="mdl-data-table__cell--non-numeric text-left"> {{addedArtFact.artFactNetCost         | number:'.2-2'}}</th>
              <th class="mdl-data-table__cell--non-numeric text-left"> {{addedArtFact.artFactTax             | number:'.2-2'}}</th>
              <th class="mdl-data-table__cell--non-numeric text-left"> {{addedArtFact.artFactTotalCost       | number:'.2-2'}}</th>
            </tr>
            <tr class="bg-listheading">              
              <th [class.active]="orderArtFactList === 'artFactFactDate'" (click)="setOrderArtFactBtnClick('artFactFactDate')" 
                class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.artFactFactDate | slice:0:10}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'artFactArtUnitPrice'" (click)="setOrderArtFactBtnClick('artFactArtUnitPrice')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.artFactArtUnitPrice | slice:0:8}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'artFactArtPackageUnits'" (click)="setOrderArtFactBtnClick('artFactArtPackageUnits')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.artFactArtPackageUnits | slice:0:8}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'artFactArtPackagePrice'" (click)="setOrderArtFactBtnClick('artFactArtPackagePrice')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.artFactArtPackagePrice | slice:0:8}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'artFactQuantity'" (click)="setOrderArtFactBtnClick('artFactQuantity')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.artFactQuantity | slice:0:8}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'artFactDiscount'" (click)="setOrderArtFactBtnClick('artFactDiscount')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.artFactDiscount | slice:0:8}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'artFactNetCost'" (click)="setOrderArtFactBtnClick('artFactNetCost')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.artFactNetCost | slice:0:8}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'artFactTax'" (click)="setOrderArtFactBtnClick('artFactTax')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.artFactTax | slice:0:8}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'artFactTotalCost'" (click)="setOrderArtFactBtnClick('artFactTotalCost')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.artFactTotalCost | slice:0:8}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let artFact of artFactList | orderBy: orderArtFactList:reverseArtFactList:caseInsensitive | filterBy: searchArtFact ; let i = index">
              <td class="text-center text-primary" style="font-weight:900"> {{artFact.artFactFactDate | date:'dd-MM-yyyy'}}</td>
              <td class="text-right"> {{artFact.artFactArtUnitPrice     | number:'.2-2'}}</td>
              <td class="text-right"> {{artFact.artFactArtPackageUnits  | number:'.2-2'}}</td>
              <td class="text-right"> {{artFact.artFactArtPackagePrice  | number:'.2-2'}}</td>
              <td class="text-right"> {{artFact.artFactQuantity         | number:'.2-2'}}</td>
              <td class="text-right"> {{artFact.artFactDiscount         | number:'.2-2'}}</td>
              <td class="text-right"> {{artFact.artFactNetCost          | number:'.2-2'}}</td>
              <td class="text-right"> {{artFact.artFactTax              | number:'.2-2'}}</td>
              <td class="text-right"> {{artFact.artFactTotalCost        | number:'.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col" *ngIf="showArtFactModelList"> 
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artFacts rounded border border-primary">        
      <a class="navbar-brand text-primary bg-artFacts rounded mr-auto" style="font-weight:900">{{formTitles.artFactModelList}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-danger  bg-artFacts rounded mx-auto" style="font-size:16px;font-weight:900">{{formTitles.artFactTotalString | slice:0:25}}</a>     
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded" (click)="closeArtFactListModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>  
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artFacts rounded border border-primary">
      <a class="navbar-brand text-primary bg-artFacts rounded col-2" style="font-size:16px;font-weight:900">{{formTitles.selectedArtTitle}}</a>    
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900"><i class="fas fa-arrow-alt-circle-right"></i></a> 
      <a class="navbar-brand text-primary bg-artFacts rounded col-1" style="font-size:16px;font-weight:900">{{selectedArt.artId}}</a> 
      <a class="navbar-brand text-primary bg-artFacts rounded col-3" style="font-size:16px;font-weight:900">{{selectedArt.artName}}</a> 
      <a class="navbar-brand text-primary bg-artFacts rounded col-2" style="font-size:16px;font-weight:900">{{selectedArt.artType}}</a>  
      <a class="navbar-brand text-primary bg-artFacts rounded col-2" style="font-size:16px;font-weight:900">{{selectedArt.artDate}}</a>  
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-listheading">  
              <th class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.id | slice:0:8}}</th>            
              <th [class.active]="orderArtFactList === 'artsFactModelsId'" (click)="setOrderArtFactBtnClick('artsFactModelsId')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.artsFactModelsId | slice:0:10}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'factModelsId'" (click)="setOrderArtFactBtnClick('factModelsId')" 
                class="mdl-data-table__cell--non-numeric text-right">       {{formLabels.factModelsId | slice:0:10}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'factModelsName'" (click)="setOrderArtFactBtnClick('factModelsName')" 
                class="mdl-data-table__cell--non-numeric text-left">       {{formLabels.factModelsName | slice:0:25}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'artId'" (click)="setOrderArtFactBtnClick('artId')" 
                class="mdl-data-table__cell--non-numeric text-right">       {{formLabels.artId | slice:0:10}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>
              <th [class.active]="orderArtFactList === 'artName'" (click)="setOrderArtFactBtnClick('artName')" 
                class="mdl-data-table__cell--non-numeric text-left">        {{formLabels.artName | slice:0:25}}
                <span [hidden]="!reverseArtFactList">▼</span>  <span [hidden]="reverseArtFactList">▲</span> </th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let artFactModel of artFactModelList | orderBy: orderArtFactList:reverseArtFactList:caseInsensitive | filterBy: searchArtFact ; let i = index">
              <td class="text-right"> {{i                                 | number:'1.0-0'}}</td>
              <td class="text-right"> {{artFactModel.artsFactModelsId     | number:'1.0-0'}}</td>
              <td class="text-right"> {{artFactModel.factModelsId         | number:'1.0-0'}}</td>
              <td class="text-left  text-primary" style="font-weight:900"> {{artFactModel.factModelsName  | slice:0:25}}</td>
              <td class="text-right"> {{artFactModel.artId                | number:'1.0-0'}}</td>
              <td class="text-left  text-primary"> {{artFactModel.artName | slice:0:25}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>