<!--------------------------------FACTS---LIST---------------------------------------------------------------------->
<div class="row">
  <div class="col"> 
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-facts rounded border border-primary">
      <div *ngIf="hdFlag">
        <a class="navbar-brand text-primary bg-facts rounded" style="font-weight:900">{{formTitles.hdDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-facts rounded" style="font-weight:900">{{formTitles.factsList}}<i class="fas fa-arrow-alt-circle-right"></i></a>  
      </div>    
      <div *ngIf="monthFlag">
        {{formTitles.factListYearString}} <i class="fas fa-arrow-alt-circle-right"></i>
        {{formTitles.factListMonthString}} <i class="fas fa-arrow-alt-circle-right"></i>
      </div>        
      <a class="navbar-brand text-danger bg-facts rounded"  style="font-size:16px;font-weight:900">{{factsTotalString | slice:0:25}}</a>
      <div *ngIf="monthFlag">  
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="selectFactPayTypeBtnClick()"><span><i class="far fa-window-restore"></i></span></button>
        </div>
        <a class="navbar-brand text-primary bg-facts rounded mx-auto" style="font-size:16px;font-weight:900">
          {{this.formTitles.factListDateStart}}<i class="fas fa-long-arrow-alt-right"></i>{{this.formTitles.factListDateEnd}}          
        </a> 
      </div>

      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-8" (click)="createFactBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
      </div>        
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="createDetailedFactBtnClick()"><span><i class="fas fa-search-plus"></i></span></button>           
      </div> 
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeFactsHdModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>  
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="searchFactsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
        <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllFactsHdBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
      </div> 
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-facts" *ngIf="showSearchFacts"> 
              <th>-</th>
              <th>-</th>
              <th><input id="sfactDate"     name="sfactDate"     [(ngModel)]="searchFact.factDate"     type="text" 
                class="input-group-text mx-auto" style="width:90px;text-align:center;"></th>
              <th><input id="sfactProvName" name="sfactProvName" [(ngModel)]="searchFact.factProvName" type="text" 
                class="input-group-text mr-auto" style="width:90px;text-align:left;"></th>
              <!--
              <th><input id="sfactProvId"   name="sfactProvId"   [(ngModel)]="searchFact.factProvId"   type="text" 
                class="input-group-text mr-auto" style="width:50px;text-align:left;"></th> -->
              <th><input id="sfactNumber"   name="sfactNumber"   [(ngModel)]="searchFact.factNumber"   type="text" 
                class="input-group-text mr-auto" style="width:50px;text-align:left;"></th>               
              <th>-</th>
              <th>-</th> 
              <th>-</th>   
              <th><input id="sfactType"     name="sfactType"     [(ngModel)]="searchFact.factType"     type="text" 
                class="input-group-text mr-auto" style="width:50px;text-align:left;"></th>
              <th><input id="factPayType"   name="sfactPayType"  [(ngModel)]="searchFact.factPayType"  type="text" 
                class="input-group-text mr-auto" style="width:50px;text-align:left;"></th>                           
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th> 
            </tr>
            <tr class="bg-listheading"> 
              <th class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.id | slice:0:5}}</th> 
              <th [class.active]="orderFactsList === 'factId'" (click)="setOrderFactBtnClick('factId')" 
                class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.factId | slice:0:4}}
                <span [hidden]="!reverseFactsList"> <i class="fas fa-arrow-circle-down"></i></span>
                <span [hidden]="reverseFactsList">  <i class="fas fa-arrow-circle-up">  </i></span> </th>               
              <th [class.active]="orderFactsList === 'factDate'" (click)="setOrderFactBtnClick('factDate')" 
                class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.factDate | slice:0:10}}
                <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
              <th [class.active]="orderFactsList === 'factProvName'" (click)="setOrderFactBtnClick('factProvName')" 
                class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.factProvName | slice:0:15}}
                <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
              <!--
              <th [class.active]="orderFactsList === 'factProvId'" (click)="setOrderFactBtnClick('factProvId')" 
                class="mdl-data-table__cell--non-numeric">      {{formLabels.factProvId | slice:0:5}}
                <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>  -->
              <th [class.active]="orderFactsList === 'factNumber'" (click)="setOrderFactBtnClick('factNumber')" 
                class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.factNumber | slice:0:8}}
                <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>                 
              <th [class.active]="orderFactsList === 'factNetCost'" (click)="setOrderFactBtnClick('factNetCost')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.factNetCost | slice:0:6}}
                <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th> 
              <th [class.active]="orderFactsList === 'factTaxes'" (click)="setOrderFactBtnClick('factTaxes')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.factTaxes | slice:0:6}}
                <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
              <th [class.active]="orderFactsList === 'factTotalCost'" (click)="setOrderFactBtnClick('factTotalCost')" 
                class="mdl-data-table__cell--non-numeric text-right">      {{formLabels.factTotalCost | slice:0:6}}
                <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
              <th [class.active]="orderFactsList === 'factType'" (click)="setOrderFactBtnClick('factType')" 
                class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.factType | slice:0:10}}
                <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
              <th [class.active]="orderFactsList === 'factPayType'" (click)="setOrderFactBtnClick('factPayType')" 
                class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.factPayType | slice:0:10}}
                <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th> 
              <th [class.active]="orderFactsList === 'factStatus'" (click)="setOrderFactBtnClick('factStatus')" 
                class="mdl-data-table__cell--non-numeric text-left">
                <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
                <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th> 
              <th>{{formTitles.factEditList | slice:0:6}}</th>
              <th><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></th>
              <th>{{formTitles.factDelete | slice:0:6}}</th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let fact of facts | orderBy: orderFactsList:reverseFactsList:caseInsensitive | filterBy: searchFact ; let i = index">
              <td class="text-right">   {{i}}</td>
              <td class="text-right">   {{fact.factId      | number:'1.0-0'}}</td>
              <td class="text-center text-primary" style="font-weight:900">    {{fact.factDate    | date:'dd-MM-yyyy'}}</td>  <!--  | date:'dd-MM-yyyy'   | slice:0:10 -->
              <td class="text-left" style="font-weight:900">    {{fact.factProvName | slice:0:15}}</td>
              <td class="text-left">    {{fact.factNumber  | slice:0:8}}</td>
              <!--
              <td class="text-left">    {{fact.factProvId  | number:'1.0-0'}}</td> -->
              <td class="text-right">   {{fact.factNetCost | number:'.2-2'}}</td>
              <td class="text-right">   {{fact.factTaxes   | number:'.2-2'}}</td>
              <td class="text-right" style="font-weight:900">   {{fact.factTotalCost | number:'.2-2'}}</td>
              <td class="text-left">    {{fact.factType    | slice:0:10}}</td>
              <td class="text-left">    {{fact.factPayType | slice:0:10}}</td>
              <td *ngIf="fact.factStatus"><i class="fas fa-unlock-alt"></i></td>
              <td *ngIf="!fact.factStatus"><i class="fas fa-lock"></i></td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="showEditFactBtnClick(fact)"> <span> <i class="fas fa-edit"></i></span> </button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockFactBtnClick(fact)"> 
                      <span> <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></span> </button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneFactBtnClick(fact)]"> <span> <i class="fas fa-trash"></i></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>