<!--------------------------------FACTS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-facts rounded border border-primary">
      <a class="navbar-brand text-primary bg-facts rounded">{{formTitles.factsDate}} <i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-facts rounded">{{formTitles.factsTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a> 
      <a class="navbar-brand text-primary bg-facts rounded">{{formTitles.factEdit}}  <i class="fas fa-arrow-right"></i></a>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeFactsSeeOneModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div> 
    </nav>
  <!--------------------------------FACTS CREATE AND EDIT---FACT FORM ---------------------------------------------------------------------->  
    <div class="card bg-factsLigth text-black rounded border border-dark">
      <div class="card-body">                 
        <div class="row"> 
          <div class="col">
            <div class="form-row">   
              <label class="col-4 col-form-label" style="height:28px;font-size:14px;">{{formLabels.factNumber}}</label>
              <label class="col-8 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;">{{newFact.factNumber}}</label>
            </div>
            <div class="form-row">
              <label class="col-4 col-form-label" style="height:28px;font-size:14px;">{{formLabels.factDate}}</label>
              <label class="col-4 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;">{{newFact.factDate | date:'dd-MM-yyyy' }}</label>
            </div>            
            <div class="form-row">
              <label class="col-4 col-form-label" style="height:28px;font-size:14px;">{{formLabels.factType}}</label>
              <label class="col-4 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;">{{newFact.factType}}</label>
            </div>
            <div class="form-row">
              <label class="col-4 col-form-label" style="height:28px;font-size:14px;">{{formLabels.factPayType}}</label>
              <label class="col-4 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;">{{newFact.factPayType}}</label>
            </div>
            <div class="form-row">            
              <label class="col-4 col-form-label" style="height:28px;font-size:14px;">{{formLabels.factNote}}</label>            
              <label *ngIf="!newFact.factPayType" class="col-4 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;"><span>Nota</span></label>
              <label *ngIf="newFact.factPayType" class="col-4 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;"><span>Factura</span></label>
            </div>               
          </div> 
          <div class="col">
            <div class="form-row">   
              <label class="col-4 col-form-label" style="height:28px;font-size:14px;">{{formLabels.factId}}</label>
              <label class="col-4 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;">{{newFact.factId}}</label>
            </div>
            <div class="form-row">   
              <label class="col-4 col-form-label" style="height:28px;font-size:14px;">{{formLabels.factProvId}}</label>
              <label class="col-4 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;">{{newFact.factProvId}}</label>
            </div>
            <div class="form-row">
              <label class="col-4 col-form-label" style="height:28px;font-size:14px;">{{formLabels.factProvName}}</label>
              <label class="col-4 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;">{{newFact.factProvName}}</label>                             
            </div>
            <div class="form-row">            
              <label for="factStatus" class="col-4 col-form-label" style="height:28px;font-size:14px;">{{formLabels.factStatus}}</label>            
              <label *ngIf="!newFact.factStatus" class="col-4 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;"><span>Bloqueada</span></label>
              <label *ngIf="newFact.factStatus" class="col-4 col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;"><span>Desbloqueada</span></label>
            </div> 
          </div>
        </div>
  <!--------------------------------FACTS CREATE AND EDIT--- FACTS TOTALS AND ARTS FACT BUTTONS ---------------------------------------------------------------------->  
        <div class="row">    
          <div class="col">
            <div class="form-row bg-highlight text-black rounded border border-dark" style="height:50px;margin-left:2px;;margin-right:2px">  
              <div class="form-row"> 
                <div class="mr-auto p-2">
                  <div class="form-row">             
                    <label class="col col-form-label" style="height:28px;font-size:14px;">{{formLabels.factNetCost}}</label>              
                    <label class="col col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;">{{newFact.factNetCost | number:'.2-2'}}</label>              
                  </div>                
                </div>
                <div class="mx-auto p-2"> 
                  <div class="form-row">                                                               
                    <label class="col col-form-label" style="height:28px;font-size:14px;">{{formLabels.factTaxes}}</label>
                    <label class="col col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;">{{newFact.factTaxes | number:'.2-2'}}</label>              
                  </div>
                </div>
                <div class="mx-auto p-2"> 
                  <div class="form-row">   
                    <label class="col col-form-label" style="height:28px;font-size:14px;">{{formLabels.factTotalCost}}</label>
                    <label class="col col-form-label text-primary" style="height:28px;font-size:14px;font-weight:900;">{{newFact.factTotalCost | number:'.2-2'}}</label>              
                  </div>
                </div> 
              </div>
              <div class="mx-auto d-inline-flex align-items-center">
                <a class="navbar-brand text-danger bg-facts rounded" style="height:28px;font-size:14px;font-weight:900;">{{formTitles.factArtsTotal}} </a>        
              </div>
            </div>
          </div>         
        </div>
      </div>
    </div>         
  <!--------------------------------FACTS CREATE AND EDIT--- ARTS FACT FORM ---------------------------------------------------------------------->  
    <div class="card bg-factsLigth text-black rounded border border-dark">
      <div class="card-body">
        <div class="card-title bg-facts text-black rounded border border-dark row" style="height:30px;margin-left:5px;;margin-right:5px">  
          <label style="height:30px;width:180px;font-size:14px;font-weight:900;text-align:center;margin-left:0px;">{{formLabels.artNameF  | slice:0:20}} </label> 
          <label style="height:30px;width:65px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.artSize   | slice:0:10}}</label>
          <label style="height:30px;width:50px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.artUnit   | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.artPrice  | slice:0:10}}</label>
          <label style="height:30px;width:55px; font-size:14px;font-weight:900;text-align:center;margin-left:13px;margin-right:0px;">{{formLabels.units     | slice:0:10}}</label>
          <label style="height:30px;width:65px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.price     | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.quantity  | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.discount  | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.netCost   | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.artTax    | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.tax       | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.totalCost | slice:0:10}}</label>
        </div>    
        <div class="card-title bg-facts text-black rounded border border-dark row" style="height:30px;margin-left:5px;;margin-right:5px">  
          <div *ngFor="let artFact of artFactsList ; let i = index">
            <label class="text-primary" style="height:30px;width:180px;font-size:14px;font-weight:900;text-align:center;margin-left:0px;">
                {{artFact.artFactArtName | slice:0:20}} </label> 
            <label class="text-primary" style="height:30px;width:65px; font-size:14px;text-align:right;margin-right:4px;">
                {{artFact.artFactArtSize | number:'.2-2'}}</label>
            <label class="text-primary" style="height:30px;width:50px; font-size:14px;text-align:right;margin-right:4px;">
                {{artFact.artFactArtMeasurement | slice:0:10}}</label>
            <label class="text-primary" style="height:30px;width:75px; font-size:14px;text-align:right;margin-right:4px;">
                {{artFact.artFactArtUnitPrice | number:'.2-2'}}</label>
            <label class="text-primary" style="height:30px;width:55px; font-size:14px;text-align:center;margin-left:13px;margin-right:0px;">
                {{artFact.artFactArtPackageUnits | number:'.2-2' }}</label>
            <label class="text-primary" style="height:30px;width:65px; font-size:14px;text-align:right;margin-right:4px;">
                {{artFact.artFactArtPackagePrice | number:'.2-2'}}</label>
            <label class="text-primary" style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">
                {{artFact.artFactQuantity  | number:'.2-2'}}</label>
            <label class="text-primary" style="height:30px;width:75px; font-size:14px;text-align:right;margin-right:4px;">
                {{artFact.artFactDiscount  | number:'.2-2'}}</label>
            <label class="text-primary" style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">
                {{artFact.artFactNetCost   | number:'.2-2'}}</label>
            <label class="text-primary" style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">
                {{artFact.artFactArtTax    | number:'.2-2'}}</label>
            <label class="text-primary" style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">
                {{artFact.artFactTax       | number:'.2-2'}}</label>
            <label class="text-primary" style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">
                {{artFact.artFactTotalCost | number:'.2-2'}}</label>
          </div>
        </div> 
        <!--
        <div *ngFor="let artFact of artFactsList ; let i = index">
          <div class="form-row"> 
            <div style="margin-left:1px;margin-right:4px;">
              <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactArtName}}</label>
            </div>
            <div style="margin-right:4px;">
              <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactArtSize}}</label>
            </div>
            <div style="margin-right:4px;">
              <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactArtMeasurement}}</label>
            </div>
            <div style="margin-right:4px;">
              <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactArtUnitPrice}}</label>
            </div>                  
            <div style="margin-right:4px;">
              <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactArtPackageUnits}}</label>
            </div>
            <div style="margin-right:4px;">
               <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactArtPackagePrice}}</label>
            </div>
            <div style="margin-right:4px;">
              <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactQuantity}}</label>
            </div>
            <div style="margin-right:4px;">
              <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactDiscount}}</label>
            </div>
            <div style="margin-right:4px;">
               <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactNetCost}}</label>
            </div>
            <div style="margin-right:4px;"> 
              <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactArtTax}}</label>
            </div>
            <div style="margin-right:4px;">
              <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactTax}}</label>
            </div>
            <div style="margin-right:5px;">
              <label style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900">{{artFact.artFactTotalCost}}</label>
            </div>                    
          </div>
        </div>-->
      </div>
    </div>          
  </div>
</div>

  