.bg-inputReadOnly {
    background-color: rgba(84, 230, 210, 0.993);
}
.bg-factsTotal {
    background-color: rgba(232, 243, 167, 0.945);
}
.modalNFactsCreate {
    top:0%;
    left:0%;
    outline: none;
}