<div class ="container">
  <div class="row" >
      <div class="col">
        <div class="card bg-white text-black rounded border border-dark text-center" [style.top.px]="globalVar.topData">
          <div class="card-header">Page Not Found</div>
          <div class="card-body">
              <h3>
                  page-not-found !!!
                </h3>
          </div>
        </div>
      </div>
  </div>
</div>
