<div class="container">
  <div class="row" *ngIf="showCreateGbView">
    <div class="col" [style.top.px]="globalVar.topData">
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <h5 class="card-title text-center">
            <button type="button" class="btn btn-default btn-sm" (click)="hideCreateGbView(createGbViewForm)">
              <span><i class="fas fa-minus-square"></i></span>
            </button>
            <i class="fas fa-long-arrow-left"></i>> Añadir o Cambiar
            <i class="fas fa-arrow-right"></i>>
            <button type="button" class="btn btn-default btn-sm" (click)="createGbViews(createGbViewForm)">
              <span><i class="fas fa-save"></i></span>
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="cleanCreateGbForm(createGbViewForm)">
              <span><i class="fas fa-eraser"></i></span>
            </button>
          </h5>
          <h5 class="card-title text-center" *ngIf="this.globalVar.showErrorMsg1">
            <span class="text-danger"> {{this.globalVar.errorMsg1}} </span>
          </h5>
          <form #createGbViewForm="ngForm" (ngSubmit)="createGbViews(createGbViewForm)">
            <div class="form-group row">
              <label for="gbViewName" [class.text-danger]="gbViewName?.invalid && gbViewName?.touched" [class.text-success]="gbViewName?.valid"
                class="col-sm-3 control-label">Vista</label>
              <div class="col-sm-9">
                <select id="gbViewName" appSelectValidator="{{localScreensRecordList[0].value}}" name="gbViewName" [(ngModel)]="newGbView.gbViewName" class="form-control"
                  #gbViewName="ngModel">
                  <option *ngFor="let screensRecord of localScreensRecordList" [value]="screensRecord.value"> {{screensRecord.value}} </option>
                </select>
                <span class="text-danger" *ngIf="gbViewName?.touched &&gbViewName?.errors?.defaultSelected"> El Campo es obligatorio </span>
              </div>
            </div>
         </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showEditGbView">
    <div class="col" [style.top.px]="globalVar.topData">
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <form #updateGbViewForm="ngForm" (ngSubmit)="this.updateGbViewData(updateGbViewForm)">
          <h5 class="card-title text-center">
            <div class="input-group text-center">
              <button type="button" class="btn btn-default btn-sm" (click)="hideEditGbView(updateGbViewForm)">
                  <span><i class="fas fa-minus-square"></i></span>
              </button>
              <i class="fas fa-long-arrow-left"></i>> Añadir o Cambiar
              <i class="fas fa-arrow-right"></i>>
              <button type="button" class="btn btn-default btn-sm" (click)="saveEditGbView(updateGbViewForm)">
                  <span><i class="fas fa-save"></i></span>
              </button>
              <button type="button" class="btn btn-default btn-sm" (click)="cleanEditGbView(updateGbViewForm)">
                  <span><i class="fas fa-eraser"></i></span>
              </button>
              <i class="fas fa-long-arrow-left"></i>> Seleccionar Idioma
              <i class="fas fa-arrow-right"></i>>
              <span class="input-group-addon">
                <select id="gbViewLang" appSelectValidator="{{localLanguagesRecordList[0].value}}" name="gbViewLang" [(ngModel)]="languageGbViewRecord.value" class="form-control"
                      #gbViewLang="ngModel">
                  <option *ngFor="let languageRecord of localLanguagesRecordList" [value]="languageRecord.value"> {{languageRecord.value}} </option>
                </select>
              </span>
              <span class="text-danger" *ngIf="gbViewLang?.touched &&gbViewLang?.errors?.defaultSelected"> El Campo es obligatorio </span>
            </div>
          </h5>
          <h5 class="card-title text-center" *ngIf="this.globalVar.showErrorMsg1">
            <span class="text-danger"> {{this.globalVar.errorMsg1}} </span>
          </h5>
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th >Id</th>
                <th class="mdl-data-table__cell--non-numeric">Vista</th>
                <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                <th class="mdl-data-table__cell--non-numeric">SubTipo</th>
                <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                <th class="mdl-data-table__cell--non-numeric">Idioma</th>
                <th class="mdl-data-table__cell--non-numeric">Texto </th>
                <th>'New Text'</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let gbViewNewText of gbViewNewTextList; let i = index">
                <td>{{i}}</td>
                <td>{{gbViewData[i].gbViewId}}</td>
                <td>{{gbViewData[i].gbViewName}}</td>
                <td>{{gbViewData[i].objType}}</td>
                <td>{{gbViewData[i].objSet}}</td>
                <td>{{gbViewData[i].objName}}</td>
                <td>{{gbViewData[i].objLang}}</td>
                <td>{{gbViewData[i].objText}}</td>
                <td>
                  <input id="newText_{{i}}" name="newText_{{i}}" class="form-control"
                  [(ngModel)]="gbViewNewTextList[i].value"  type="text">
                </td>
              </tr>
            </tbody>
          </table>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col" [style.top.px]="globalVar.topData">
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <h5 class="card-title text-center">
            <button type="button" class="btn btn-default btn-sm" (click)="seeCreateGbView(createGbViewForm)">
              <span><i class="fas fa-plus-square"></i></span>
            </button>
            <i class="fas fa-long-arrow-left"></i>> Vistas y Tablas
            <i class="fas fa-arrow-right"></i>>
            <button type="button" class="btn btn-default btn-sm" (click)="searchGbViews()">
              <span><i class="fas fa-eye"></i></span>
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="confirmDeleteAllGbViewsBtnClick()">
              <span><i class="fas fa-trash"></i></span>
            </button>
          </h5>
          <table class="table table-hover table-sm">
            <thead>
              <tr *ngIf="showSearchGbViews">
                <th>-</th>
                <th>
                  <input id="sgbViewId" name="sgbViewId" [(ngModel)]="searchGbView.gbViewId" type="number" max="9999" class="input-group-text">
                </th>
                <th>
                  <input id="sgbViewName" name="sgbViewName" [(ngModel)]="searchGbView.gbViewName" type="text" class="input-group-text">
                </th>
                <th>
                  <input id="stableName" name="stableName" [(ngModel)]="searchGbView.objName" type="text" class="input-group-text">
                </th>
                <th>---</th>
                <th>---</th>
              </tr>
              <tr>
                <th>#</th>
                <th [class.active]="order === 'gbViewId'" (click)="setOrder('gbViewId')">Id
                  <span [hidden]="!reverse">
                    <i class="fas fa-arrow-circle-down"></i>>
                  </span>
                  <span [hidden]="reverse">
                    <i class="fas fa-arrow-circle-up"></i>>
                  </span>
                </th>
                <th [class.active]="order === 'gbViewName'" (click)="setOrder('gbViewName')" class="mdl-data-table__cell--non-numeric">Vista
                  <span [hidden]="!reverse">▼</span>
                  <span [hidden]="reverse">▲</span>
                </th>
                <th [class.active]="order === 'tableName'" (click)="setOrder('tableName')" class="mdl-data-table__cell--non-numeric">Tipo
                  <span [hidden]="!reverse">▼</span>
                  <span [hidden]="reverse">▲</span>
                </th>
                <th [class.active]="order === 'objType'" (click)="setOrder('objType')" class="mdl-data-table__cell--non-numeric">Subtipo
                  <span [hidden]="!reverse">▼</span>
                  <span [hidden]="reverse">▲</span>
                </th>
                <th [class.active]="order === 'objOrder'" (click)="setOrder('objOrder')" class="mdl-data-table__cell--non-numeric">Nombre
                  <span [hidden]="!reverse">▼</span>
                  <span [hidden]="reverse">▲</span>
                </th>
                <th [class.active]="order === 'objLang'" (click)="setOrder('objLang')" class="mdl-data-table__cell--non-numeric">Idioma
                  <span [hidden]="!reverse">▼</span>
                  <span [hidden]="reverse">▲</span>
                </th>
                <th [class.active]="order === 'objText'" (click)="setOrder('objText')" class="mdl-data-table__cell--non-numeric">Texto
                  <span [hidden]="!reverse">▼</span>
                  <span [hidden]="reverse">▲</span>
                </th>
                <th>Editar</th>
                <th>Borrar</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let gbView of gbViews | orderBy: order:reverse:caseInsensitive | filterBy: searchGbView ; let i = index">
                <td>{{i}}</td>
                <td>{{gbView.gbViewId}}</td>
                <td>{{gbView.gbViewName}}</td>
                <td>{{gbView.objType}}</td>
                <td>{{gbView.objSet}}</td>
                <td>{{gbView.objName}}</td>
                <td>{{gbView.objLang}}</td>
                <td>{{gbView.objText}}</td>
                <td>
                  <button type="button" class="btn btn-default btn-sm" (click)="editOneGbView(gbView)">
                    <span>
                      <i class="fas fa-edit"></i>>
                    </span>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm" (click)="[confirmDeleteOneGbViewBtnClick(gbView)]">
                    <span>
                      <i class="fas fa-trash"></i>>
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
