  <!--------------------------------CARDS TOTALS ---LIST---------------------------------------------------------------------->
<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-cardTotals rounded border border-primary">
      <a class="navbar-brand text-white bg-cardTotals rounded">{{formTitles.cardsTotals}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-white bg-cardTotals rounded">{{formTitles.cardsTotalsList}}<i class="fas fa-arrow-alt-circle-right"></i></a>       
      <a class="navbar-brand text-white  bg-cardTotals rounded" style="font-size:16px;font-weight:900">{{formTitles.cardsTotalsMoney | slice:0:37}}</a>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="selectCardTpvBtnClick()"><span><i class="far fa-window-restore"></i></span></button>
      </div>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-8" (click)="createCardTotalBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
      </div>    
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeCardsTotalsModalBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
      </div>  
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="searchCardsTotalsBtnClick()"><span><i class="fas fa-eye"></i></span></button>
        <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllCardsTotalsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
      </div>  
    </nav>
    <div class="card bg-cardTotalsLight text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-cards" *ngIf="showSearchCardsTotals">
              <th>-</th>
              <th>-</th>
              <th><input id="scardTotalCardTpvName" name="scardTotalCardTpvName" [(ngModel)]="searchCardsTotals.cardTotalCardTpvName"   
                type="text" class="input-group-text ml-auto" style="width:100px"></th>
              <th><input id="scardTotalCardTpvBank" name="scardTotalCardTpvBank" [(ngModel)]="searchCardsTotals.cardTotalCardTpvBank"  
                type="text" class="input-group-text ml-auto" style="width:100px"></th>
              <th><input id="scardTotalDate"        name="scardTotalDate"        [(ngModel)]="searchCardsTotals.cardTotalDate"    
                type="text" class="input-group-text ml-auto" style="width:100px"></th>
              <th><input id="scardTotalDateStart"   name="scardTotalDateStart"   [(ngModel)]="searchCardsTotals.cardTotalDateStart"  
                type="text" class="input-group-text ml-auto" style="width:100px"></th>
              <th><input id="scardTotalDateEnd"     name="scardTotalDateEnd"     [(ngModel)]="searchCardsTotals.cardTotalDateEnd"    
                type="text" class="input-group-text ml-auto" style="width:100px"></th>
              <th>-</th>
              <th>-</th>  
              <th>-</th>
              <th>-</th>  
              <th>-</th>
              <th>-</th>                
            </tr>
            <tr class="bg-listheading">
              <th>#</th>
              <th [class.active]="orderCardsTotalsList === 'cardTotalId'" (click)="setCarsdTotalsOrderBtnClick('cardTotalId')" 
                class="text-right"> {{formLabels.cardTotalId           | slice:0:8}}
                <span [hidden]="!reverseCardsTotalsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseCardsTotalsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
              <th [class.active]="orderCardsTotalsList === 'cardTotalCardTpvName'" (click)="setCarsdTotalsOrderBtnClick('cardTotalCardTpvName')" 
                class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.cardTotalCardTpvName         | slice:0:15}}
                <span [hidden]="!reverseCardsTotalsList">▼</span>  <span [hidden]="reverseCardsTotalsList">▲</span> </th>
              <th [class.active]="orderCardsTotalsList === 'cardTotalCardTpvBank'" (click)="setCarsdTotalsOrderBtnClick('cardTotalCardTpvBank')" 
                class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.cardTotalCardTpvBank  | slice:0:15}}
                <span [hidden]="!reverseCardsTotalsList">▼</span>  <span [hidden]="reverseCardsTotalsList">▲</span> </th>
              <th [class.active]="orderCardsTotalsList === 'cardTotalDate'" (click)="setCarsdTotalsOrderBtnClick('cardTotalDate')" 
                class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.cardTotalDate        | slice:0:8}}
                <span [hidden]="!reverseCardsTotalsList">▼</span>  <span [hidden]="reverseCardsTotalsList">▲</span> </th>
              <th [class.active]="orderCardsTotalsList === 'cardTotalDateStart'" (click)="setCarsdTotalsOrderBtnClick('cardTotalDateStart')" 
                class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.cardTotalDateStart      | slice:0:8}}
                <span [hidden]="!reverseCardsTotalsList">▼</span>  <span [hidden]="reverseCardsTotalsList">▲</span> </th>  
              <th [class.active]="orderCardsTotalsList === 'cardTotalDateEnd'" (click)="setCarsdTotalsOrderBtnClick('cardTotalDateEnd')" 
                class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.cardTotalDateEnd      | slice:0:8}}
                <span [hidden]="!reverseCardsTotalsList">▼</span>  <span [hidden]="reverseCardsTotalsList">▲</span> </th>      
              <th [class.active]="orderCardsTotalsList === 'cardTotalTotalMoney'" (click)="setCarsdTotalsOrderBtnClick('cardTotalTotalMoney')" 
                class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.cardTotalTotalMoney        | slice:0:8}}
                <span [hidden]="!reverseCardsTotalsList">▼</span>  <span [hidden]="reverseCardsTotalsList">▲</span> </th>
              <th [class.active]="orderCardsTotalsList === 'cardTotalExpTaxesMoney'" (click)="setCarsdTotalsOrderBtnClick('cardTotalExpTaxesMoney')" 
                class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.cardTotalExpTaxesMoney        | slice:0:8}}
                <span [hidden]="!reverseCardsTotalsList">▼</span>  <span [hidden]="reverseCardsTotalsList">▲</span> </th>    
              <th [class.active]="orderCardsTotalsList === 'cardTotalBankMoney'" (click)="setCarsdTotalsOrderBtnClick('cardTotalBankMoney')" 
                class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.cardTotalBankMoney        | slice:0:8}}
                <span [hidden]="!reverseCardsTotalsList">▼</span>  <span [hidden]="reverseCardsTotalsList">▲</span> </th>  
              <th [class.active]="orderCardsTotalsList === 'cardTotalStatus'"    (click)="setCarsdTotalsOrderBtnClick('cardTotalStatus')" 
                class="mdl-data-table__cell--non-numeric text-left"> {{formLabels.cardTotalStatus   | slice:0:8}}
                <span [hidden]="!reverseCardsTotalsList">▼</span>  <span [hidden]="reverseCardsTotalsList">▲</span> </th>       
              <th>{{formTitles.edit   | slice:0:6}}</th>
              <th>{{formTitles.delete | slice:0:6}}</th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor = "let cardTotal of cardsTotalsList | orderBy: orderCardsTotalsList:reverseCardsTotalsList:caseInsensitive | filterBy: searchCardsTotals ; let i = index">
            <td class="text-right">{{i                      | number:'1.0-0'}}</td>
            <td class="text-right">{{cardTotal.cardTotalId  | number:'1.0-0'}}</td>
            <td class="text-left text-primary" style="font-weight:900">{{cardTotal.cardTotalCardTpvName | slice:0:16}}</td>
            <td class="text-left">{{cardTotal.cardTotalCardTpvBank | slice:0:16}}</td>
            <td class="text-right text-primary">{{cardTotal.cardTotalDate       | date:'dd-MM-yyyy'}}</td> 
            <td class="text-right">             {{cardTotal.cardTotalDateStart  | date:'dd-MM-yyyy'}}</td> 
            <td class="text-right">             {{cardTotal.cardTotalDateEnd    | date:'dd-MM-yyyy'}}</td> 
            <td class="text-right" style="font-weight:900">{{cardTotal.cardTotalTotalMoney | number:'.2-2'}}</td>
            <td class="text-right">{{(cardTotal.cardTotalExpTaxesMoney + cardTotal.cardTotalExpTotal)| number:'.2-2'}}</td> 
            <td class="text-right" style="font-weight:900">{{cardTotal.cardTotalBankMoney | number:'.2-2'}}</td>
            <td *ngIf="cardTotal.cardTotalStatus"><i class="fas fa-unlock-alt"></i></td>
            <td *ngIf="!cardTotal.cardTotalStatus"><i class="fas fa-lock"></i></td>
            <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editCardTotalBtnClick(cardTotal)"> <span> <i class="fas fa-edit"></i></span> </button>
            </td>
            <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="confirmDeleteOneCardTotalBtnClick(cardTotal)"> <span> <i class="fas fa-trash"></i></span></button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
