<!--------------------------------CARDS---LIST---------------------------------------------------------------------->
<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-cardTpvs rounded border border-primary">
      <a class="navbar-brand text-primary bg-cardTpvs rounded">{{formTitles.hdDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-cardTpvs rounded">{{formTitles.cardPayoutsList}}<i class="fas fa-arrow-alt-circle-right"></i></a>       
      <a class="navbar-brand text-danger  bg-cardTpvs rounded" style="font-size:16px;font-weight:900">{{cardPayoutsTotalString | slice:0:37}}</a>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="selectCardTpvBtnClick()"><span><i class="far fa-window-restore"></i></span></button>
      </div>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-8" (click)="createCardPayoutsListBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
      </div>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-success rounded mr-2" (click)="changeShowCardTotalListBtnClick()"><span><i class="fas fa-cart-plus"></i></span></button>
      </div>       
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeCardsHdModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>  
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="searchCardPayoutsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
        <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllCardPayoutsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
      </div>  
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-cards" *ngIf="showSearchCard">
              <th>-</th>
              <th>-</th>
              <th><input id="cardPayoutTpvId"         name="cardPayoutTpvId"  [(ngModel)]="searchCard.cardPayoutTpvId"   type="text" 
                  class="input-group-text ml-auto" style="width:100px"></th>
              <th><input id="cardPayoutTotalId"  name="cardPayoutTotalId"     [(ngModel)]="searchCard.cardPayoutTotalId" type="text" 
                  class="input-group-text ml-auto" style="width:100px"></th>
              <th><input id="cardPayoutTotalDate"  name="cardPayoutTotalDate" [(ngModel)]="searchCard.cardPayoutTotalDate" type="text" 
                  class="input-group-text ml-auto" style="width:100px"></th>
              <th><input id="cardPayoutDate"  name="cardPayoutDate"           [(ngModel)]="searchCard.cardPayoutDate"    type="text" 
                  class="input-group-text ml-auto" style="width:100px"></th>
              <th><input id="cardPayoutOperationNr"     name="cardPayoutOperationNr" [(ngModel)]="searchCard.cardPayoutOperationNr" type="text" 
                  class="input-group-text ml-auto" style="width:100px"></th>
              <th><input id="cardPayoutMulti"         name="cardPayoutMulti"  [(ngModel)]="searchCard.cardPayoutMulti"   type="text" 
                  class="input-group-text ml-auto" style="width:100px"></th>
              <th><input id="cardPayoutTotal"         name="cardPayoutTotal"  [(ngModel)]="searchCard.cardPayoutTotal"   type="text" 
                  class="input-group-text ml-auto" style="width:100px"></th>
              <th>-</th>
              <th>-</th>                
            </tr>
            <tr class="bg-listheading">
              <th>#</th>
              <th [class.active]="orderCardsList === 'cardPayoutId'" (click)="setOrderBtnClick('cardPayoutId')" class="text-right">
                {{formLabels.cardPayoutId           | slice:0:8}}
                <span [hidden]="!reverseCardsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseCardsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
              <th [class.active]="orderCardsList === 'cardPayoutTpvId'" (click)="setOrderBtnClick('cardPayoutTpvId')" class="mdl-data-table__cell--non-numeric text-right">
                {{formLabels.cardPayoutTpvId        | slice:0:8}}
                <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>
              <th [class.active]="orderCardsList === 'cardPayoutTotalId'" (click)="setOrderBtnClick('cardPayoutTotalId')" class="mdl-data-table__cell--non-numeric text-right">
                {{formLabels.cardPayoutTotalId      | slice:0:8}}
                <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>  
              <th [class.active]="orderCardsList === 'cardPayoutTotalDate'" (click)="setOrderBtnClick('cardPayoutTotalDate')" class="mdl-data-table__cell--non-numeric text-right">
                {{formLabels.cardPayoutTotalDate      | slice:0:8}}
                <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th> 
              <th [class.active]="orderCardsList === 'cardPayoutDate'" (click)="setOrderBtnClick('cardPayoutDate')" class="mdl-data-table__cell--non-numeric text-right">
                {{formLabels.cardPayoutDate         | slice:0:15}}
                <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>
              <th [class.active]="orderCardsList === 'cardPayoutOperationNr'" (click)="setOrderBtnClick('cardPayoutOperationNr')" class="mdl-data-table__cell--non-numeric text-right">
                {{formLabels.cardPayoutOperationNr  | slice:0:15}}
                <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>
              <th [class.active]="orderCardsList === 'cardPayoutMulti'" (click)="setOrderBtnClick('cardPayoutMulti')" class="mdl-data-table__cell--non-numeric text-right">
                {{formLabels.cardPayoutMulti        | slice:0:8}}
                <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>
              <th [class.active]="orderCardsList === 'cardPayoutTotal'" (click)="setOrderBtnClick('cardPayoutTotal')" class="mdl-data-table__cell--non-numeric text-right">
                {{formLabels.cardPayoutTotal        | slice:0:8}}
                <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>             
              <th>{{formTitles.cardEditList | slice:0:6}}</th>
              <th>{{formTitles.cardDelete | slice:0:6}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let cardPayout of cardPayoutsList | orderBy: orderCardsList:reverseCardsList:caseInsensitive | filterBy: searchCard ; let i = index">
              <td class="text-right">{{i}}</td>
              <td class="text-right">{{cardPayout.cardPayoutId}}</td>
              <td class="text-right">{{cardPayout.cardPayoutTpvId}}</td>
              <td class="text-right">{{cardPayout.cardPayoutTotalId}}</td>
              <td class="text-center">{{cardPayout.cardPayoutTotalDate | date:'dd-MM-yyyy'}}</td>
              <td class="text-center text-primary">{{cardPayout.cardPayoutDate  | date:'dd-MM-yyyy'}}</td> 
              <td class="text-right" style="font-weight:900">{{cardPayout.cardPayoutOperationNr}}</td>
              <td class="text-right">{{cardPayout.cardPayoutMulti}}</td>
              <td class="text-right" style="font-weight:900">{{cardPayout.cardPayoutTotal | number:'.2-2'}}</td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editCardPayoutBtnClick(cardPayout)"> <span> <i class="fas fa-edit"></i></span> </button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneCardPayoutBtnClick(cardPayout)]"> <span> <i class="fas fa-trash"></i></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
