<!--------------------------------CARDS---NAVBAR---------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-light text-primary bg-white rounded border border-primary menu_pos1">
  <a class="navbar-brand text-primary bg-white rounded">
    <i class="text-danger text-capitalize font-weight-bold">{{globalVar.currentBar}}...</i><i class="fas fa-long-arrow-alt-right"></i>
    {{formTitles.cardPayouts}} <i class="fas fa-thumbs-up"></i></a>
  <i class="fas fa-sigma"></i>
  <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-primary rounded mr-2" (click)="changeShowCardsListBtnClick()"><span><i class="fas fa-list-ol"></i></span></button>
  </div>   
  <div class="btn-group mx-auto" role="group">
    <button class="btn btn-outline-primary rounded mr-2" (click)="enterCardsPeriodBtnClick()"><span><i class="far fa-calendar-alt"></i></span></button>
  </div>   
  <div class="btn-group ml-auto" role="group">
    <button class="btn btn-outline-danger rounded mr-2" (click)="changeShowCardTpvsListBtnClick()"><span><i class="fas fa-cogs"></i></span></button>
    </div>   
</nav>
<!--------------------------------CARDS---LIST---------------------------------------------------------------------->
<div *ngIf="showCardPayoutsList">
  <nav class="navbar navbar-expand-lg navbar-light text-primary bg-cardTpvs rounded border border-primary menu_pos2">
    <a class="navbar-brand text-primary bg-cardTpvs rounded">{{formTitles.cardsListMonth}}<i class="fas fa-arrow-alt-circle-right"></i></a>
    <a class="navbar-brand text-primary bg-cardTpvs rounded">{{formTitles.cardsListMonthString}}<i class="fas fa-long-arrow-alt-right"></i></a>
    <a class="navbar-brand text-primary bg-cardTpvs rounded">{{formTitles.cardsListYearString}}<i class="fas fa-arrow-alt-circle-right"></i></a>   
    <a class="navbar-brand text-danger  bg-cardTpvs rounded mx-auto" style="font-size:16px;font-weight:900">{{cardPayoutsTotalString | slice:0:28}}</a>
    <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-primary rounded mr-2" (click)="selectCardTpvBtnClick()"><span><i class="far fa-window-restore"></i></span></button>
    </div>  
    <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-primary rounded mr-8" (click)="createCardPayoutsListBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
    </div>
    <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-success rounded mr-2" (click)="showCardTotalListBtnClick()"><span><i class="fas fa-cart-plus"></i></span></button>
    </div>       
    <div class="btn-group ml-auto" role="group">
      <button class="btn btn-outline-primary rounded mr-2" (click)="searchCardPayoutsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
      <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllCardPayoutsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
    </div>  
  </nav>
  <div class="card bg-white text-black rounded border border-dark">
    <div class="card-body scrollable">
      <table class="table table-hover">
        <thead class="sticky-top">
          <tr class="bg-cards" *ngIf="showSearchCard">
            <th>-</th>
            <th>-</th>
            <th><input id="cardPayoutTpvId"         name="cardPayoutTpvId"  [(ngModel)]="searchCard.cardPayoutTpvId"   type="text" 
                class="input-group-text ml-auto" style="width:100px;text-align:right;"></th>
            <th><input id="cardPayoutTotalId"  name="cardPayoutTotalId"     [(ngModel)]="searchCard.cardPayoutTotalId" type="text" 
                class="input-group-text ml-auto" style="width:100px;text-align:right;"></th>
            <th><input id="cardPayoutTotalDate"  name="cardPayoutTotalDate"     [(ngModel)]="searchCard.cardPayoutTotalDate" type="text" 
                class="input-group-text ml-auto" style="width:100px;text-align:right;"></th>
            <th><input id="cardPayoutDate"          name="cardPayoutDate"   [(ngModel)]="searchCard.cardPayoutDate"    type="text" 
                class="input-group-text mx-auto" style="width:100px;text-align:center;"></th>
            <th><input id="cardPayoutOperationNr"   name="cardPayoutOperationNr" [(ngModel)]="searchCard.cardPayoutOperationNr" type="text" 
                class="input-group-text ml-auto" style="width:100px;text-align:right;"></th>
            <th><input id="cardPayoutMulti"         name="cardPayoutMulti"  [(ngModel)]="searchCard.cardPayoutMulti"   type="text" 
                class="input-group-text ml-auto" style="width:100px;text-align:right;"></th>
            <th><input id="cardPayoutTotal"         name="cardPayoutTotal"  [(ngModel)]="searchCard.cardPayoutTotal"   type="text" 
                class="input-group-text ml-auto" style="width:100px;text-align:right;"></th>
            <th>-</th>
            <th>-</th>                
          </tr>
          <tr class="bg-listheading"> 
            <th class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.id                 | slice:0:8}}</th>               
            <th [class.active]="orderCardsList === 'cardPayoutId'" (click)="setOrderBtnClick('cardPayoutId')" 
              class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutId       | slice:0:8}}
              <span [hidden]="!reverseCardsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseCardsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
            <th [class.active]="orderCardsList === 'cardPayoutTpvId'" (click)="setOrderBtnClick('cardPayoutTpvId')" 
              class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTpvId    | slice:0:8}}
              <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>
            <th [class.active]="orderCardsList === 'cardPayoutTotalId'" (click)="setOrderBtnClick('cardPayoutTotalId')" 
              class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTotalId  | slice:0:8}}
              <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>
            <th [class.active]="orderCardsList === 'cardPayoutTotalDate'" (click)="setOrderBtnClick('cardPayoutTotalDate')" 
              class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTotalDate  | slice:0:8}}
              <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th> 
            <th [class.active]="orderCardsList === 'cardPayoutDate'" (click)="setOrderBtnClick('cardPayoutDate')" 
              class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.cardPayoutDate     | slice:0:15}}
              <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>
            <th [class.active]="orderCardsList === 'cardPayoutOperationNr'" (click)="setOrderBtnClick('cardPayoutOperationNr')" 
              class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutOperationNr  | slice:0:15}}
              <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>
            <th [class.active]="orderCardsList === 'cardPayoutMulti'" (click)="setOrderBtnClick('cardPayoutMulti')" 
              class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutMulti    | slice:0:8}}
              <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>
            <th [class.active]="orderCardsList === 'cardPayoutTotal'" (click)="setOrderBtnClick('cardPayoutTotal')" 
              class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTotal    | slice:0:8}}
              <span [hidden]="!reverseCardsList">▼</span>  <span [hidden]="reverseCardsList">▲</span> </th>              
            <th>{{formTitles.cardEditList | slice:0:6}}</th>
            <th>{{formTitles.cardDelete | slice:0:6}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let cardPayout of cardPayoutsList | orderBy: orderCardsList:reverseCardsList:caseInsensitive | filterBy: searchCard ; let i = index">
            <td class="text-center">  {{i}}</td>
            <td class="text-right">   {{cardPayout.cardPayoutId}}</td>
            <td class="text-right">   {{cardPayout.cardPayoutTpvId}}</td>
            <td class="text-right">   {{cardPayout.cardPayoutTotalId}}</td>
            <td class="text-center">  {{cardPayout.cardPayoutTotalDate | date:'dd-MM-yyyy'}}</td>
            <td class="text-center text-primary" style="font-weight:900"> {{cardPayout.cardPayoutDate   | date:'dd-MM-yyyy'}}</td>
            <td class="text-right" style="font-weight:900"> {{cardPayout.cardPayoutOperationNr}}</td>
            <td class="text-right">   {{cardPayout.cardPayoutMulti}}</td>
            <td class="text-right" style="font-weight:900"> {{cardPayout.cardPayoutTotal  | number:'.2-2'}}</td>
            <td>
              <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editCardPayoutBtnClick(cardPayout)"> <span> <i class="fas fa-edit"></i></span> </button>
            </td>
            <td>
              <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneCardPayoutBtnClick(cardPayout)]"> <span> <i class="fas fa-trash"></i></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------CARD TPVS------------------------------------------------------------------------->
<div *ngIf="showCardTpvsList">
  <nav class="navbar navbar-expand-lg navbar-light text-danger bg-cardTpvs rounded border border-danger menu_pos2">
    <a class="navbar-brand text-danger bg-cardTpvs rounded">{{formTitles.cardTpvsList}} <i class="fas fa-arrow-right"></i></a>
    <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-danger rounded mr-8" (click)="createOneCardTpvBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
    </div>        
    <div class="btn-group ml-auto" role="group">
      <button class="btn btn-outline-danger rounded mr-2" (click)="searchCardTpvsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
      <button class="btn btn-outline-danger rounded mr-2" (click)="confirmDeleteAllCardTpvsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
    </div>  
  </nav>      
  <!--------------------------------CARD TPVS---LIST---------------------------------------------------------------------->
  <div class="card bg-white text-black rounded border border-dark">
    <div class="card-body scrollable">
      <table class="table table-hover"> 
        <thead class="sticky-top">
          <tr class="bg-cardTpvs" *ngIf="showSearchCardTpvs">
            <th>-</th>
            <th>-</th>
            <th><input id="scardTpvDate"  name="scardTpvDate"  [(ngModel)]="searchCardTpv.cardTpvDate"  
              type="text" class="input-group-text mx-auto" style="width:70px;text-align:center;"></th>
            <th><input id="scardTpvName"  name="scardTpvName"  [(ngModel)]="searchCardTpv.cardTpvName"  
              type="text" class="input-group-text mr-auto" style="width:70px;text-align:left;"></th>
            <th>-</th>
            <th>-</th>
            <th><input id="scardTpvBank" name="scardTpvBank" [(ngModel)]="searchCardTpv.cardTpvBank" 
              type="text" class="input-group-text mr-auto" style="width:70px;text-align:left;"></th>
            <th><input id="scardTpvType" name="scardTpvType" [(ngModel)]="searchCardTpv.cardTpvType" 
              type="text" class="input-group-text mr-auto" style="width:70px;text-align:left;"></th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
          </tr>
          <tr class="bg-toolsheading">
            <th class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.id | slice:0:5}}</th>      
            <th [class.active]="orderCardTpvsList === 'cardTpvId'" (click)="setCardTpvsOrderBtnClick('cardTpvId')"
              class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardTpvId       | slice:0:8}}
              <span [hidden]="!reverseCardTpvsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseCardTpvsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
            <th [class.active]="orderCardTpvsList === 'cardTpvDate'" (click)="setCardTpvsOrderBtnClick('cardTpvDate')" 
              class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.cardTpvDate     | slice:0:8}}
              <span [hidden]="!reverseCardTpvsList">▼</span>  <span [hidden]="reverseCardTpvsList">▲</span> </th>
            <th [class.active]="orderCardTpvsList === 'cardTpvName'" (click)="setCardTpvsOrderBtnClick('cardTpvName')" 
              class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.cardTpvName     | slice:0:10}}
              <span [hidden]="!reverseCardTpvsList">▼</span>  <span [hidden]="reverseCardTpvsList">▲</span> </th>
            <th [class.active]="orderCardTpvsList === 'cardTpvShopNr'" (click)="setCardTpvsOrderBtnClick('cardTpvShopNr')" 
              class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.cardTpvShopNr   | slice:0:6}}
              <span [hidden]="!reverseCardTpvsList">▼</span>  <span [hidden]="reverseCardTpvsList">▲</span> </th>
            <th [class.active]="orderCardTpvsList === 'cardTpvTpvNr'" (click)="setCardTpvsOrderBtnClick('cardTpvTpvNr')" 
              class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.cardTpvTpvNr    | slice:0:6}}
              <span [hidden]="!reverseCardTpvsList">▼</span>  <span [hidden]="reverseCardTpvsList">▲</span> </th>                    
            <th [class.active]="orderCardTpvsList === 'cardTpvBank'" (click)="setCardTpvsOrderBtnClick('cardTpvBank')" 
              class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.cardTpvBank     | slice:0:6}}
              <span [hidden]="!reverseCardTpvsList">▼</span>  <span [hidden]="reverseCardTpvsList">▲</span> </th>                      
            <th [class.active]="orderCardTpvsList === 'cardTpvType'" (click)="setCardTpvsOrderBtnClick('cardTpvType')" 
              class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.cardTpvType     | slice:0:6}}
              <span [hidden]="!reverseCardTpvsList">▼</span>  <span [hidden]="reverseCardTpvsList">▲</span> </th>
            <th [class.active]="orderCardTpvsList === 'cardTpvContact'" (click)="setCardTpvsOrderBtnClick('cardTpvContact')" 
              class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.cardTpvContact  | slice:0:6}}
              <span [hidden]="!reverseCardTpvsList">▼</span>  <span [hidden]="reverseCardTpvsList">▲</span> </th>
            <th [class.active]="orderCardTpvsList === 'cardTpvComis'" (click)="setCardTpvsOrderBtnClick('cardTpvComis')" 
              class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardTpvComis     | slice:0:6}}
              <span [hidden]="!reverseCardTpvsList">▼</span>  <span [hidden]="reverseCardTpvsList">▲</span> </th>
            <th [class.active]="orderCardTpvsList === 'cardTpvMulti'" (click)="setCardTpvsOrderBtnClick('cardTpvMulti')" 
              class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.cardTpvMulti     | slice:0:6}}
              <span [hidden]="!reverseCardTpvsList">▼</span>  <span [hidden]="reverseCardTpvsList">▲</span> </th>
            <th [class.active]="orderCardTpvsList === 'cardTpvStatus'" (click)="setCardTpvsOrderBtnClick('cardTpvStatus')" 
              class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.cardTpvStatus    | slice:0:6}}
              <span [hidden]="!reverseCardTpvsList">▼</span>  <span [hidden]="reverseCardTpvsList">▲</span> </th>
            <th>{{formTitles.cardTpvEditList | slice:0:6}}</th>
            <th><i class="fas fa-lock"></i><i class="fas fa-exchange-alt"></i><i class="fas fa-unlock-alt"></i></th>
            <th>{{formTitles.cardTpvDelete | slice:0:6}}</th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor = "let cardTpv of localCardTpvs | orderBy: orderCardTpvsList:reverseCardTpvsList:caseInsensitive | filterBy: searchCardTpv ; let i = index">
            <td class="text-right"> {{i | number:'1.0-0'}}</td>
            <td class="text-right"> {{cardTpv.cardTpvId         | number:'1.0-0'}}</td>
            <td class="text-center text-primary" style="font-weight:900"> {{cardTpv.cardTpvDate  | date:'dd-MM-yyyy'}}</td>
            <td class="text-left" style="font-weight:900">  {{cardTpv.cardTpvName       | slice:0:10}}</td>
            <td class="text-left">  {{cardTpv.cardTpvShopNr     | slice:0:6}}</td>
            <td class="text-left">  {{cardTpv.cardTpvTpvNr      | slice:0:6}}</td>
            <td class="text-left">  {{cardTpv.cardTpvBank       | slice:0:8}}</td>
            <td class="text-left">  {{cardTpv.cardTpvType       | slice:0:8}}</td>
            <td class="text-left">  {{cardTpv.cardTpvContact    | slice:0:10}}</td>
            <td class="text-right"> {{cardTpv.cardTpvComis      | number:'1.2-2'}}</td>
            <td *ngIf="cardTpv.cardTpvMulti"><i class="fas fa-check-circle" style="color:green"></i></td>
            <td *ngIf="!cardTpv.cardTpvMulti"><i class="fas fa-times-circle" style="color:red"></i></td>
            <td *ngIf="cardTpv.cardTpvStatus"><i class="fas fa-unlock-alt"></i></td>
            <td *ngIf="!cardTpv.cardTpvStatus"><i class="fas fa-lock"></i></td>
            <td>
              <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editCardTpvBtnClick(cardTpv)"> <span> <i class="fas fa-edit"></i></span> </button>
            </td>
            <td>
              <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockCardTpvBtnClick(cardTpv)"> 
                    <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></button>
            </td>
            <td>
              <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneCardTpvBtnClick(cardTpv)]"> <span> <i class="fas fa-trash"></i></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




