<p>
  users works!
</p>
<div class="jumbotron">


  This is a platform for teachers and students. If you are a teacher or a training institute, signup today and start managing your students.
  <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">New User? Get Started</a>

</div>
