<div class="container">
  <div class="row">
    <div class="col">
        <div class="card bg-white text-black rounded border border-dark text-center" [style.top.px]="globalVar.topView">
            <div class="card-header">.. Contact ..</div>
            <div class="card-body">
                <p> Site Built By Fran Esti </p> <br>
                <a> Contact Us </a> <br>
                <button type="button" class="btn btn-default btn-sm" (click)="traeSaludo()">Saludo Servidor</button><br>
                <a> El saludo es .....</a><br>
                <h1> {{hello}} </h1>
                <a> El error es .....</a><br>
                <h1> {{errorMessage}} </h1>
            </div>
        </div>
    </div>
	</div>
</div>

