<!--------------------------------ARTS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">  
  <div class="col" *ngIf="showArt">    
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-arts rounded border border-primary">
      <a class="navbar-brand text-primary bg-arts rounded" *ngIf="formTitles.artsDate">{{formTitles.artsDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-arts rounded" *ngIf="formTitles.artsTitle">{{formTitles.artsTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-arts rounded" *ngIf="createArt">{{formTitles.artCreate}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-primary bg-arts rounded" *ngIf="editArt">{{formTitles.artEdit}}<i class="fas fa-arrow-right"></i></a>
      <div class="btn-group mr-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="createArt" (click)="createArtBtnClick(artForm)" 
                  [disabled]="artForm.invalid"> <span><i class="fas fa-save"></i></span> </button>        
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="editArt" (click)="updateArtBtnClick(artForm)" 
                  [disabled]="artForm.invalid"> <span><i class="fas fa-edit"></i></span> </button>             
      </div>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="ClosedArstCreateModalBtnClick()">
                  <span> <i class="fas fa-reply-all"></i></span> </button>
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-success rounded mr-2" (click)="changeArtFlagBtnClick()">
          <span><i *ngIf="!artTotalCostFlag" class="fas fa-toggle-on"></i>
                <i *ngIf="artTotalCostFlag" class="fas fa-toggle-off"></i></span>
        </button> 
        <button class="btn btn-outline-success rounded mr-2" *ngIf="editArt" (click)="changeDisableArtNameArtTypeBtnClick()">
                <span><i class="fas fa-user-edit"></i></span>
        </button> 
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="cleanFormArtBtnClick()">
                  <span><i class="fas fa-eraser"></i></span> </button>           
      </div> 
    </nav>
    <div class="card bg-artsLigth text-black rounded border border-dark">
      <div class="card-body">
        <form [formGroup]=artForm>
          <div class="row"> 
            <div class="col">
              <div class="form-row">
                <label for="artId" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artId}}</label>
                <div class="col-7">
                  <input id="artId" name="artId" class="form-control text-primary ml-auto" formControlName="artId" 
                       type="text" style="height:30px;width:300px;font-size:14px;text-align:right;" readonly>
                </div>
              </div>
              <div class="form-row">   
                <label for="artDate" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artDate}}</label>
                <div class="col-7">
                  <input id="artDate" name="artDate" class="form-control text-primary ml-auto" formControlName="artDate"
                            placeholder="Datepicker" bsDatepicker [bsConfig]="artsDatePickerConfig"
                            [value]="currentDate | date: 'dd-MM-yyyy'"                     
                            type="text" style="height:30px;width:300px;font-size:14px;font-weight:900;text-align:right;" readonly>
                </div>
              </div>
              <div class="form-row">   
                <label for="artReference" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artReference}}</label>
                <div class="col-7">
                  <input id="artReference" name="artReference" class="form-control text-primary ml-auto" formControlName="artReference" 
                        type="text" style="height:30px;width:300px;font-size:14px;text-align:left;">
                  <validation-messages [control]="artForm.get('artReference')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div>
              <div class="form-row">   
                <label for="artName" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artName}}</label>
                <div class="col-7">
                  <input id="artName" name="artName" class="form-control text-primary ml-auto" formControlName="artName" 
                        type="text" style="height:30px;width:300px;font-size:14px;font-weight:900;text-align:left;">
                  <validation-messages [control]="artForm.get('artName')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div>
              <div class="form-row">
                <label for="artLongName" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artLongName}}</label>
                <div class="col-7">
                  <input id="artLongName" name="artLongName" class="form-control text-primary ml-auto" formControlName="artLongName" 
                        type="text" style="height:30px;width:300px;font-size:14px;text-align:left;">
                  <validation-messages [control]="artForm.get('artLongName')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div>
              <div class="form-row">
                <label for="artType" class="col-3 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artType}}</label>
                <div class="col-1">
                  <button class="btn btn-sm btn-outline-primary rounded bg-highlight col-form-label"(click)="createArtTypeBtnClick()"><i class="fas fa-plus-square"></i></button> 
                </div>
                <div class="col-7">
                  <select id="artType"  name="artType" class="form-control text-primary ml-auto" formControlName="artType" 
                            appSelectValidator="{{localArtTypesNamesRecordList[0].value}}" 
                            style="height:30px;width:300px;font-size:14px;direction:rtl;">                                     
                    <option *ngFor="let artType of localArtTypesNamesRecordList" [value]="artType.value" style="direction:ltr">{{artType.value}}</option>
                  </select>
                  <validation-messages [control]="artForm.get('artType')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div>
              <div class="form-row">   
                <label for="artSize" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artSize}}</label>
                <div class="col-2"></div>
                <div class="col-5">
                  <input id="artSize" name="artSize" class="form-control text-primary ml-auto" formControlName="artSize"
                        (blur) = "setSixNumberDecimal($event)" 
                        type="text" style="height:30px;width:150px;font-size:14px;text-align:right;">
                  <validation-messages [control]="artForm.get('artSize')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div> 
              <div class="form-row">
                <label for="artMeasurement" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artMeasurement}}</label>
                <div class="col-7">
                  <select id="artMeasurement" name="artMeasurement" class="form-control text-primary ml-auto" formControlName="artMeasurement" 
                        appSelectValidator="{{localArtUnitsRecordList[0].value}}" 
                        style="height:30px;width:200px;font-size:14px;text-align:left;direction:rtl;">
                    <option *ngFor="let artMeasurement of localArtUnitsRecordList" style="text-align:right;" [value]="artMeasurement.value"> {{artMeasurement.value}} </option>
                  </select>
                  <validation-messages [control]="artForm.get('artMeasurement')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div>
            </div> 
            <div class="col">
              <div class="form-row">   
                <label for="artUnitPrice" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artUnitPrice}}</label>
                <div class="col-2"></div>
                <div class="col-5">
                  <input id="artUnitPrice" name="artUnitPrice" class="form-control text-primary ml-auto" formControlName="artUnitPrice" 
                          (blur) = "setSixNumberDecimal($event)" 
                          type="text" style="height:30px;width:150px;font-size:14px;font-weight:900;text-align:right;"
                          [class.bg-inputReadOnly]="!artTotalCostFlag" [readonly]="!artTotalCostFlag">
                  <validation-messages [control]="artForm.get('artUnitPrice')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div> 
              <div class="form-row">   
                <label for="artPackageUnits" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artPackageUnits}}</label>
                <div class="col-2"></div>
                <div class="col-5">
                  <input id="artPackageUnits" name="artPackageUnits" class="form-control text-primary ml-auto" formControlName="artPackageUnits" 
                          (blur) = "setSixNumberDecimal($event)" 
                          type="text" style="height:30px;width:150px;font-size:14px;text-align:right;">
                  <validation-messages  [control]="artForm.get('artPackageUnits')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div>
              <div class="form-row">   
                <label for="artPackagePrice" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artPackagePrice}}</label>
                <div class="col-2"></div>
                <div class="col-5">
                  <input id="artPackagePrice" name="artPackagePrice" class="form-control text-primary ml-auto" formControlName="artPackagePrice" 
                        (blur) = "setSixNumberDecimal($event)" 
                        type="text" style="height:30px;width:150px;font-size:14px;text-align:right;" readonly>
                  <validation-messages  [control]="artForm.get('artPackagePrice')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div>
              <div class="form-row">
                <label for="artTax" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artTax}}</label>
                <div class="col-7">
                  <select id="artTax" name="artTax" class="form-control text-primary ml-auto" formControlName="artTax" 
                        appSelectValidator="{{localArtTaxesRecordList[0].value}}" 
                        style="height:30px;width:200px;font-size:14px;direction:rtl;">
                    <option *ngFor="let artTax of localArtTaxesRecordList" [value]="artTax.value" style="direction:rtl"> {{artTax.value}} </option>
                  </select>
                  <validation-messages  [control]="artForm.get('artTax')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div> 
              <div class="form-row">   
                <label for="artTaxP" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artTaxP}}</label>
                <div class="col-2"></div>
                <div class="col-5">
                  <input id="artTaxP" name="artTaxP" class="form-control text-primary ml-auto" formControlName="artTaxP" 
                        (blur) = "setSixNumberDecimal($event)" 
                        type="text" style="height:30px;width:150px;font-size:14px;text-align:right;" readonly>
                  <validation-messages  [control]="artForm.get('artTaxP')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div>
              <div class="form-row">   
                <label for="artPackagePriceP" class="col-4 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artPackagePriceP}}</label>
                <div class="col-2"></div>
                <div class="col-5">
                  <input id="artPackagePriceP" name="artPackagePriceP" class="form-control text-primary ml-auto" formControlName="artPackagePriceP" 
                        (blur) = "setSixNumberDecimal($event)" 
                        type="text" style="height:30px;width:150px;font-size:14px;font-weight:900;text-align:right;" 
                        [class.bg-inputReadOnly]="artTotalCostFlag" [readonly]="artTotalCostFlag">
                  <validation-messages  [control]="artForm.get('artPackagePriceP')" style="width:300px;font-size:14px;text-align:right"></validation-messages>    
                </div>
              </div>
              <div class="form-row">            
                <label for="artStatus" class="col-6 col-form-label" style="height:30px;font-size:14px;font-weight:900;">{{formLabels.artStatus}}</label>            
                <label class="col-2 col-form-label" style="height:30px;font-size:14px;"><span>Bloquear</span></label>
                <div class="custom-control custom-switch">
                  <input class="custom-control-input col-2 col-form-label" type="checkbox" id="artStatusSwitch" 
                        formControlName="artStatus" style="width:150px">
                  <label class="custom-control-label col-form-label" style="height:30px;font-size:14px;" for="artStatusSwitch">Desbloquear</label>
                </div>
              </div>  
            </div>
          </div> 
        </form>
      </div>
    </div>  
  </div> 
</div>