<!-----------------------------------SELECT ART---------------------------------------------------------------------->
<div class="row">  
  <div class="col"> 
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-arts rounded border border-primary">   
      <a class="navbar-brand text-primary bg-arts rounded" *ngIf="formTitles.artsDate">{{formTitles.artsDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-arts rounded" *ngIf="formTitles.artsTitle">{{formTitles.artsTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a> 
      <span><a class="navbar-brand text-primary bg-arts rounded">{{formTitles.artsSelTitle}}<i class="fas fa-arrow-right"></i></a></span>
      <div class="btn-group mr-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="selectedArstBtnClick()"> <span><i class="fas fa-save"></i></span></button>
      </div> 
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeSelectArtsBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div> 
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="createArtBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
      </div>  
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="searchArtsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>  
      </div>    
    </nav>
    <!-------------------------------- -- ARTS---LIST---------------------------------------------------------------------->
    <div class="card bg-artsLigth text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-arts" *ngIf="showSearchArts">                
              <th>-</th>
              <th><input id="sartDate"      name="sartDate"      [(ngModel)]="searchArt.artDate"      type="text"   
                class="input-group-text mx-auto" style="width:100px;text-align:center;"> </th> 
              <th><input id="sartName"      name="sartName"      [(ngModel)]="searchArt.artName"      type="text" 
                class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th><input id="sartLongName"  name="sartLongName"  [(ngModel)]="searchArt.artLongName"  type="text" 
                class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th><input id="sartType"      name="sartType"      [(ngModel)]="searchArt.artType"      type="text" 
                class="input-group-text mr-auto" style="width:100px;text-align:center;"></th>
              <th><input id="sartReference" name="sartReference" [(ngModel)]="searchArt.artReference" type="text" 
                class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th>-</th>
              <th>-</th>
            </tr> 
            <tr class="bg-listheading">
              <th [class.active]="orderArtsList === 'artId'" (click)="setOrderArtBtnClick('artId')"
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.artId        | slice:0:6}}
                <span [hidden]="!reverseArtsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseArtsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
              <th [class.active]="orderArtsList === 'artDate'"          (click)="setOrderArtBtnClick('artDate')" 
                class="mdl-data-table__cell--non-numeric text-center">  {{formLabels.artDate      | slice:0:8}}
                <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th> 
              <th [class.active]="orderArtsList === 'artName'" (click)="setOrderArtBtnClick('artName')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artName      | slice:0:15}}
                <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
              <th [class.active]="orderArtsList === 'artLongName'" (click)="setOrderArtBtnClick('artLongName')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artLongName  | slice:0:20}}
                <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
              <th [class.active]="orderArtsList === 'artType'" (click)="setOrderArtBtnClick('artType')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artType      | slice:0:20}}
                <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
              <th [class.active]="orderArtsList === 'artReference'" (click)="setOrderArtBtnClick('artReference')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artReference | slice:0:12}}
                <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
              <th>{{formLabels.artSelect}}</th>
              <th>{{formLabels.artEditList}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let art of arts | orderBy: orderArtsList:reverseArtsList:caseInsensitive | filterBy: searchArt ; let i = index">
              <td style="text-align:center;"> {{art.artId}}</td>
              <td class="text-center text-primary" style="font-weight:900">  {{art.artDate  | date:'dd-MM-yyyy'}}</td>
              <td style="text-align:left;font-weight:900">   {{art.artName     | slice:0:15}}</td>
              <td style="text-align:left;">   {{art.artLongName   | slice:0:20}}</td>
              <td style="text-align:left;">   {{art.artType       | slice:0:10}}</td>
              <td style="text-align:left;">   {{art.artReference  | slice:0:10}}</td>
              <td *ngIf="artsSelMany"><label class ="checkbox-inline"><input type = "checkbox" [(ngModel)]="art.artStatus"></label></td>
              <td *ngIf="!artsSelMany">
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="selectedArtBtnClick(art)"><span><i class="fas fa-hand-point-left"></i></span></button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editArtBtnClick(art)"><span><i class="fas fa-edit"></i></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>