<!----------------------------------- DEPART LIST ---------------------------------------------------------------------->
<div class="row" *ngIf="showDepsList">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-deps rounded border border-danger">
      <a class="navbar-brand text-danger bg-deps rounded">{{formTitles.depsList}}<i class="fas fa-arrow-alt-circle-right"></i></a>  
      <a class="navbar-brand text-danger  bg-deps rounded" style="font-size:16px;font-weight:900">{{formTitles.depsTotalString}}</a>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-8" (click)="createDepBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
      </div>   
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="closedDepsListModalBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
      </div>      
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="searchDepsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
        <button class="btn btn-outline-danger rounded mr-2" (click)="confirmDeleteAllDepsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
      </div>  
    </nav>
    <div class="card bg-artsLigth text-black rounded border border-danger">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-deps" *ngIf="showSearchDeps">
              <th>-</th>
              <th>-</th>
              <th><input id="depDate"        name="depDate"        [(ngModel)]="searchDep.depDate"
                  type="text" class="input-group-text mx-auto" style="width:70px;text-align:center;"></th>
              <th><input id="depName"        name="depName"        [(ngModel)]="searchDep.depName"
                  type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th><input id="depDescription" name="depDescription" [(ngModel)]="searchDep.depDescription"
                  type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th><input id="depTag"         name="depTag"         [(ngModel)]="searchDep.depTag"
                  type="text" class="input-group-text mr-auto" style="width:50px;text-align:left;"></th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>                
            </tr>
            <tr class="bg-listheading">
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.id | slice:0:8}}</th>               
              <th [class.active]="orderDepsList === 'depId'" (click)="setDepOrderBtnClick('depId')"
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.depId | slice:0:8}}
                <span [hidden]="!reverseDepsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseDepsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
              <th [class.active]="orderDepsList === 'depDate'" (click)="setDepOrderBtnClick('depDate')" 
                class="mdl-data-table__cell--non-numeric text-center">  {{formLabels.depDate | slice:0:8}}
                <span [hidden]="!reverseDepsList">▼</span>  <span [hidden]="reverseDepsList">▲</span> </th>
              <th [class.active]="orderDepsList === 'depName'" (click)="setDepOrderBtnClick('depName')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.depName | slice:0:15}}
                <span [hidden]="!reverseDepsList">▼</span>  <span [hidden]="reverseDepsList">▲</span> </th>
              <th [class.active]="orderDepsList === 'depDescription'" (click)="setDepOrderBtnClick('depDescription')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.depDescription | slice:0:30}}
                <span [hidden]="!reverseDepsList">▼</span>  <span [hidden]="reverseDepsList">▲</span> </th>               
              <th [class.active]="orderDepsList === 'depTag'" (click)="setDepOrderBtnClick('depTag')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.depTag | slice:0:8}}
                <span [hidden]="!reverseDepsList">▼</span>  <span [hidden]="reverseDepsList">▲</span> </th>                           
              <th [class.active]="orderDepsList === 'depStatus'" (click)="setDepOrderBtnClick('depStatus')" 
                class="mdl-data-table__cell--non-numeric"><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
                <span [hidden]="!reverseDepsList">▼</span>  <span [hidden]="reverseDepsList">▲</span> </th> 
              <th>{{formTitles.addSubDeps   | slice:0:10}}</th>              
              <th>{{formTitles.edit   | slice:0:6}}</th>
              <th><i class="fas fa-lock"></i><i class="fas fa-exchange-alt"></i><i class="fas fa-unlock-alt"></i></th>
              <th>{{formTitles.delete | slice:0:6}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let dep of deps | orderBy: orderDepsList:reverseDepsList:caseInsensitive | filterBy: searchDep ; let i = index">
              <td class="text-right">   {{i                   | number:'1.0-0'}}</td>
              <td class="text-right">   {{dep.depId           | number:'1.0-0'}}</td>
              <td class="text-center text-primary" style="font-weight:900">    {{dep.depDate     | date:'dd-MM-yyyy'}}</td>
              <td class="text-left" style="font-weight:900">  {{dep.depName         | slice:0:15}}</td>
              <td class="text-left" >   {{dep.depDescription     | slice:0:30}}</td>
              <td class="text-left">   {{dep.depTag         | slice:0:8}}</td>
              <td *ngIf="dep.depStatus"><i class="fas fa-unlock-alt"></i></td>
              <td *ngIf="!dep.depStatus"><i class="fas fa-lock"></i></td>
              <td>
                <button class="btn btn-outline-success rounded mr-2 btn-sm" (click)="listSubDepsInDepBtnClick(dep)"> <span> <i class="far fa-images"></i></span> </button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editDepBtnClick(dep)"> <span> <i class="fas fa-edit"></i></span> </button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockDepBtnClick(dep)"> 
                      <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneDepBtnClick(dep)]"> <span> <i class="fas fa-trash"></i></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>