<!--------------------------------SUBDEPS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">  
    <div class="col">    
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-subDeps rounded border border-primary">
        <a class="navbar-brand text-primary bg-subDeps rounded" *ngIf="formTitles.subDepsDate">{{formTitles.subDepsDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-subDeps rounded" *ngIf="formTitles.subDepsTitle">{{formTitles.subDepsTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-subDeps rounded" *ngIf="createSubDep">{{formTitles.subDepCreate}}<i class="fas fa-arrow-right"></i></a>
        <a class="navbar-brand text-primary bg-subDeps rounded" *ngIf="editSubDep">{{formTitles.subDepEdit}}<i class="fas fa-arrow-right"></i></a>
        <div class="btn-group mr-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" *ngIf="createSubDep" (click)="createSubDepBtnClick(subDepForm)" 
                  [disabled]="subDepForm.invalid"><span><i class="fas fa-save"></i></span></button>        
          <button class="btn btn-outline-primary rounded mr-2" *ngIf="editSubDep" (click)="updateSubDepBtnClick(subDepForm)" 
                  [disabled]="subDepForm.invalid"><span><i class="fas fa-edit"></i></span></button>             
        </div>  
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="closeSubDepsCreateModalBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
        </div> 
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-success rounded mr-2" *ngIf="!createSubDep" (click)="changeDisableSubDepNameAndTagBtnClick()">
                  <span><i class="fas fa-user-edit"></i></span>
          </button> 
        </div> 
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="cleanFormSubDepBtnClick()"><span><i class="fas fa-eraser"></i></span></button>           
        </div> 
      </nav>
      <div class="card bg-artsLigth text-black rounded border border-dark">
        <div class="card-body">         
          <form [formGroup]=subDepForm >  
            <div class="form-row">
              <label for="subDepId" class="col-sm-3 col-form-label">{{formLabels.subDepId}}</label>
              <div class="col-sm-4">
                <input id="subDepId" name="subDepId" class="form-control ml-auto" formControlName="subDepId" 
                       type="text" style="width:250px;text-align:right;" readonly>
              </div>
            </div>
            <div class="form-row">   
              <label for="subDepDate" class="col-sm-3 control-label">{{formLabels.subDepDate}}</label>
              <div class="col-sm-4">
                <input id="subDepDate" name="subDepDate" class="form-control ml-auto" formControlName="subDepDate"
                          placeholder="Datepicker" bsDatepicker [bsConfig]="subDepsDatePickerConfig"
                          [value]="currentSubDepDate | date: 'dd-MM-yyyy'"                     
                          type="text" style="width:250px;text-align:right;" readonly>
              </div>
            </div>
            <div class="form-row">   
              <label for="subDepName" class="col-sm-3 control-label">{{formLabels.subDepName}}</label>
              <div class="col-sm-4">
                <input id="subDepName" name="subDepName" class="form-control ml-auto" formControlName="subDepName" 
                      type="text" style="width:250px;text-align:right;">
                <validation-messages [control]="subDepForm.get('subDepName')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="subDepDescription" class="col-sm-3 control-label">{{formLabels.subDepDescription}}</label>
              <div class="col-sm-4">
                <input id="subDepDescription" name="subDepDescription" class="form-control ml-auto" formControlName="subDepDescription" 
                       type="text" style="width:250px;text-align:right;">
                <validation-messages [control]="subDepForm.get('subDepDescription')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="subDepTag" class="col-sm-3 control-label">{{formLabels.subDepTag}}</label>
              <div class="col-sm-4">
                <input id="subDepTag" name="subDepTag" class="form-control ml-auto" formControlName="subDepTag" 
                        type="text" style="width:250px;text-align:right;">
                <validation-messages [control]="subDepForm.get('subDepTag')"></validation-messages>    
              </div>
            </div>  
            <div class="form-row">
              <label for="subDepSequence" class="col-sm-3 control-label">{{formLabels.subDepSequence}}</label>
              <div class="col-sm-4">
                <input id="subDepSequence" name="subDepSequence" class="form-control ml-auto" formControlName="subDepSequence" 
                        type="text" style="width:250px;text-align:right;" readonly>
              </div>
            </div>
            <div class="form-row">
              <label for="subDepDepName" class="col-sm-3 control-label">{{formLabels.subDepDepName}}</label>
              <div class="col-sm-4">
                <select id="subDepDepName"  name="subDepDepName" class="form-control ml-auto" formControlName="subDepDepName" 
                        appSelectValidator="{{localDepNamesRecordList[0].value}}" style="width:250px;direction:rtl;">             
                  <option *ngFor="let subDepDepName of localDepNamesRecordList" [value]="subDepDepName.value" style="direction:ltr">{{subDepDepName.value}}</option>
                </select>
                <validation-messages [control]="subDepForm.get('subDepDepName')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="subDepDepId" class="col-sm-3 control-label">{{formLabels.subDepDepId}}</label>
              <div class="col-sm-4">
                <input id="subDepDepId" name="subDepDepId" class="form-control ml-auto" formControlName="subDepDepId" 
                type="text" style="width:250px;text-align:right;" readonly>
              </div>
            </div>                     
            <div class="form-row">            
              <label for="subDepStatus" class="col-sm-3 control-label">{{formLabels.subDepStatus}}</label>            
              <label class="col-2 col-form-label"><span>Bloquear</span></label>
              <div class="custom-control custom-switch">
                <input class="custom-control-input col-2 col-form-label" type="checkbox" id="subDepStatusSwitch" 
                       formControlName="subDepStatus" style="width:250px">
                <label class="custom-control-label col-form-label" for="subDepStatusSwitch">Desbloquear</label>
              </div>
            </div>  
          </form>    
        </div>
      </div>  
    </div> 
  </div>