<!----------------------------------- SUBDEPART LIST -- NAVBAR ---------------------------------------------------------------------->
<div class="row" *ngIf="showSubDepsList">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-subDeps rounded border border-danger">
      <a class="navbar-brand text-danger bg-Subdeps rounded">{{formTitles.subDepsList}}<i class="fas fa-arrow-alt-circle-right"></i><i class="fas fa-arrow-alt-circle-right"></i></a>  
      <a class="navbar-brand text-danger  bg-Subdeps rounded" style="font-size:16px;font-weight:900">{{formTitles.subDepsTotalString}}</a>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-8" (click)="createSubDepBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
      </div>        
      <div class="btn-group mx-auto" role="group"> 
        <button class="btn btn-outline-danger rounded mr-2" (click)="closedSubDepsListModalBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
      </div>  
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="searchSubDepsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
        <button class="btn btn-outline-danger rounded mr-2" (click)="confirmDeleteAllSubDepsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
      </div>  
    </nav>
  </div>
</div> 
<!----------------------------------- SUBDEPART LIST -- SELECTED DEPART ---------------------------------------------------------------------->
<div class="row" *ngIf="showSelectedDep">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artsLigth rounded border border-primary">
      <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px;font-weight:900">{{formTitles.dep}}<i class="fas fa-long-arrow-alt-right"></i></a>  
      <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px">{{formTitles.selectedDep}}</a>    
    </nav>
  </div>
</div> 
<!----------------------------------- SUBDEPART LIST -- TABLE ---------------------------------------------------------------------->
<div class="row" *ngIf="showSubDepsList">
  <div class="col">
    <div class="card bg-artsLigth text-black rounded border border-danger">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-deps" *ngIf="showSearchSubDeps">
              <th>-</th>
              <th>-</th>
              <th><input id="subDepDate"        name="subDepDate"        [(ngModel)]="searchSubDep.subDepDate"
                  type="text" class="input-group-text mx-auto" style="width:70px;text-align:center;"></th>
              <th><input id="subDepName"        name="subDepName"        [(ngModel)]="searchSubDep.subDepName"
                  type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th><input id="subDepDescription" name="subDepDescription" [(ngModel)]="searchSubDep.subDepDescription"
                  type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th><input id="subDepTag"         name="subDepTag"         [(ngModel)]="searchSubDep.subDepTag"
                  type="text" class="input-group-text mr-auto" style="width:50px;text-align:left;"></th>
              <th><input id="subDepSequence"    name="subDepSequence"    [(ngModel)]="searchSubDep.subDepSequence"
                  type="text" class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
              <th><input id="subDepDepName"     name="subDepDepName"     [(ngModel)]="searchSubDep.subDepDepName"
                  type="text" class="input-group-text mr-auto" style="width:70px;text-align:left;"></th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>                
            </tr>
            <tr class="bg-listheading">
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.id             | slice:0:8}}</th>               
              <th [class.active]="orderSubDepsList === 'subDepId'" (click)="setSubDepOrderBtnClick('subDepId')"
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.subDepId       | slice:0:8}}
                <span [hidden]="!reverseSubDepsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseSubDepsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
              <th [class.active]="orderSubDepsList === 'subDepDate'" (click)="setSubDepOrderBtnClick('subDepDate')" 
                class="mdl-data-table__cell--non-numeric text-center">  {{formLabels.subDepDate     | slice:0:8}}
                <span [hidden]="!reverseSubDepsList">▼</span>  <span [hidden]="reverseSubDepsList">▲</span> </th>
              <th [class.active]="orderSubDepsList === 'subDepName'" (click)="setSubDepOrderBtnClick('subDepName')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.subDepName     | slice:0:15}}
                <span [hidden]="!reverseSubDepsList">▼</span>  <span [hidden]="reverseSubDepsList">▲</span> </th>
              <th [class.active]="orderSubDepsList === 'subDepDescription'" (click)="setSubDepOrderBtnClick('subDepDescription')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.subDepDescription | slice:0:25}}
                <span [hidden]="!reverseSubDepsList">▼</span>  <span [hidden]="reverseSubDepsList">▲</span> </th>               
              <th [class.active]="orderSubDepsList === 'subDepTag'" (click)="setSubDepOrderBtnClick('subDepTag')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.subDepTag      | slice:0:8}}
                <span [hidden]="!reverseSubDepsList">▼</span>  <span [hidden]="reverseSubDepsList">▲</span> </th>      
              <th [class.active]="orderSubDepsList === 'subDepSequence'" (click)="setSubDepOrderBtnClick('subDepSequence')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.subDepSequence | slice:0:5}}
                <span [hidden]="!reverseSubDepsList">▼</span>  <span [hidden]="reverseSubDepsList">▲</span> </th>    
              <th [class.active]="orderSubDepsList === 'subDepDepName'" (click)="setSubDepOrderBtnClick('subDepDepName')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.subDepDepName  | slice:0:12}}
                <span [hidden]="!reverseSubDepsList">▼</span>  <span [hidden]="reverseSubDepsList">▲</span> </th>                     
              <th [class.active]="orderSubDepsList === 'subDepStatus'" (click)="setSubDepOrderBtnClick('subDepStatus')" 
                class="mdl-data-table__cell--non-numeric"><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
                <span [hidden]="!reverseSubDepsList">▼</span>  <span [hidden]="reverseSubDepsList">▲</span> </th>  
              <th>{{formTitles.addArtTypes   | slice:0:10}}</th>              
              <th>{{formTitles.edit   | slice:0:6}}</th>
              <th><i class="fas fa-lock"></i><i class="fas fa-exchange-alt"></i><i class="fas fa-unlock-alt"></i></th>
              <th>{{formTitles.delete | slice:0:6}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let subDep of subDeps | orderBy: orderSubDepsList:reverseSubDepsList:caseInsensitive | filterBy: searchSubDep ; let i = index">
              <td class="text-right">   {{i                        | number:'1.0-0'}}</td>
              <td class="text-right">   {{subDep.subDepId          | number:'1.0-0'}}</td>
              <td class="text-center text-primary" style="font-weight:900">    {{subDep.subDepDate     | date:'dd-MM-yyyy'}}</td>
              <td class="text-left" style="font-weight:900">  {{subDep.subDepName         | slice:0:15}}</td>
              <td class="text-left" >   {{subDep.subDepDescription | slice:0:25}}</td>
              <td class="text-left">    {{subDep.subDepTag          | slice:0:10}}</td>
              <td class="text-right">   {{subDep.subDepSequence    | number:'1.0-0'}}</td>
              <td class="text-left">    {{subDep.subDepDepName     | slice:0:15}}</td>
              <td *ngIf="subDep.subDepStatus"><i class="fas fa-unlock-alt"></i></td>
              <td *ngIf="!subDep.subDepStatus"><i class="fas fa-lock"></i></td>
              <td>
                <button class="btn btn-outline-success rounded mr-2 btn-sm" (click)="listArtTypesInSubDepBtnClick(subDep)"> <span> <i class="fas fa-tags"></i></span> </button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editSubDepBtnClick(subDep)"> <span> <i class="fas fa-edit"></i></span> </button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockSubDepBtnClick(subDep)"> 
                      <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneSubDepBtnClick(subDep)]"> <span> <i class="fas fa-trash"></i></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>