<!--------------------------------MODEL FACTS---CREATE AND EDIT ---------------------------------------------------------------------->
<div class="row"  *ngIf="showFactModel">  
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-factModels rounded border border-primary">
      <a class="navbar-brand text-danger bg-factModels rounded" *ngIf="formTitles.modelsDate">{{formTitles.modelsDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-danger bg-factModels rounded" *ngIf="formTitles.modelsTitle">{{formTitles.modelsTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-danger bg-factModels rounded" *ngIf="createFactModel">
          {{formTitles.factModelssCreate}} <i class="fas fa-long-arrow-alt-right"></i></a>   
      <a class="navbar-brand text-danger bg-factModels rounded" *ngIf="editFactModel">
          {{formTitles.factModelssEdit}} <i class="fas fa-long-arrow-alt-right"></i></a>        
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="createFactModelBtnClick(factModelsForm)" [disabled]="factModelsForm.invalid" 
          *ngIf="createFactModel"> <span> <i class="fas fa-save"></i></span></button>
        <button class="btn btn-outline-danger rounded mr-2" (click)="updateFactModelBtnClick(factModelsForm)" [disabled]="factModelsForm.invalid" 
          *ngIf="editFactModel"> <span> <i class="fas fa-edit"></i></span></button>
      </div>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="createProvFactModelBtnClick()"><span> <i class="fas fa-search-plus"></i></span></button>
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="closeFactModelCreateModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>  
    </nav>
    <div class="card bg-factModelsLigth text-black rounded border border-dark">
      <div class="card-body">
        <form [formGroup]=factModelsForm> 
          <div class="row"> 
            <div class="col">
              <div class="form-row">
                <label for="factModelsId" class="col-sm-3 col-form-label">{{formLabels.factModelsId}}</label>
                <div class="col-sm-9">
                  <input id="factModelsId" name="factModelsId" class="form-control" formControlName="factModelsId" 
                          type="text" style="width:300px;text-align:right;" readonly>
                </div>
              </div>
              <div class="form-row">   
                <label for="factModelsDate" class="col-sm-3 col-form-label">{{formLabels.factModelsDate}}</label>
                <div class="col-sm-9">
                  <input id="factModelsDate" name="factModelsDate" class="form-control" formControlName="factModelsDate"
                            placeholder="Datepicker" bsDatepicker [bsConfig]="factModelssDatePickerConfig"
                            [value]="currentDate | date: 'dd-MM-yyyy'"                     
                            type="text" style="width:300px;text-align:right;" readonly>
                </div>
              </div>
              <div class="form-row">
                <label for="factModelsProvId" class="col-sm-3 col-form-label">{{formLabels.provId}}</label>
                <div class="col-sm-9">
                  <input id="factModelsProvId" name="factModelsProvId" class="form-control" formControlName="factModelsProvId" 
                          type="text" style="width:300px;text-align:right;" readonly>
                </div>
              </div>
              <div class="form-row">
                <label for="factModelsProvName" class="col-sm-2 col-form-label">{{formLabels.factProvName}}</label>  
                <button class="btn btn-outline-danger rounded col-sm-1 col-form-label bg-provs" (click)="changeSelectedProvFactBtnClick()">
                  <span><i class="fas fa-hand-point-right"></i></span></button>             
                <div class="col-sm-9">
                  <input id="factModelsProvName" name="factModelsProvName" class="form-control" formControlName="factModelsProvName" 
                          type="text" style="width:300px;text-align:right;"readonly>
                </div>
              </div>
            </div>
            <div class="col"> 
              <div class="form-row">   
                <label for="factModelsName" class="col-sm-4 col-form-label">{{formLabels.factModelsName}}</label>
                <div class="col-4">
                  <input id="factModelsName" name="factModelsName" class="form-control" formControlName="factModelsName" 
                        type="text" style="width:300px;text-align:right;">
                  <validation-messages [control]="factModelsForm.get('factModelsName')"></validation-messages>   
                </div>
              </div>
              <div class="form-row">
                <label for="factModelsFactType" class="col-4 col-form-label">{{formLabels.factModelsFactType}}</label>
                <div class="col-4">
                  <select id="factModelsFactType" name="factModelsFactType" class="form-control" formControlName="factModelsFactType"
                          appSelectValidator="{{localFactTypesRecordList[0].value}}" style="width:300px;direction:rtl;">
                    <option *ngFor="let factModelsFactType of localFactTypesRecordList" [value]="factModelsFactType.value" style="direction:ltr"> {{factModelsFactType.value}} </option>
                  </select>                  
                  <validation-messages [control]="factModelsForm.get('factModelsFactType')"></validation-messages> 
                </div>
              </div>
              <div class="form-row">
                <label for="factModelsPayType" class="col-4 col-form-label">{{formLabels.factModelsPayType}}</label>
                <div class="col-4">
                  <select id="factModelsPayType" name="factModelsPayType" class="form-control" formControlName="factModelsPayType"
                          appSelectValidator="{{localPayFactTypesRecordList[0].value}}" style="width:300px;direction:rtl;">
                    <option *ngFor="let factModelsPayType of localPayFactTypesRecordList" [value]="factModelsPayType.value" style="direction:ltr"> {{factModelsPayType.value}} </option>
                  </select>                 
                  <validation-messages [control]="factModelsForm.get('factModelsPayType')"></validation-messages> 
                </div>
              </div>              
              <div class="form-row">            
                <label for="factModelsNote" class="col-4 col-form-label">{{formLabels.factModelsNote}}</label>            
                <label class="col-2 col-form-label"><span>Nota</span></label>
                <div class="custom-control custom-switch">
                  <input class="custom-control-input col-2 col-form-label" type="checkbox" id="factModelsNoteSwitch" 
                          formControlName="factModelsNote" style="width:300px">
                  <label class="custom-control-label col-form-label" for="factModelsNoteSwitch">Factura</label>
                </div>
              </div> 
            </div>
          </div>
        </form>
        <nav class="navbar navbar-expand-lg navbar-light text-primary bg-factModels rounded border border-primary">
          <a class="navbar-brand text-danger bg-factModels rounded">{{formTitles.factModelsArts}} <i class="fas fa-long-arrow-alt-right"></i></a>        
          <a class="navbar-brand text-danger bg-factModels rounded">{{formTitles.factModelsArtsTotal}} </a>        
          <div class="btn-group mx-auto" role="group">
            <button class="btn btn-outline-danger rounded mr-2" (click)="addArtFactModelBtnClick()"> <span> <i class="fas fa-plus-square"></i></span></button>              
          </div>
          <div class="btn-group ml-auto" role="group">
            <button class="btn btn-outline-danger rounded mr-2" (click)="deleteAllFactModelArtsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
          </div>
        </nav>
        <table class="table table-hover">
          <thead>
            <tr class="bg-listheading">
              <th [class.active]="orderArtsList === 'artId'"  
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.artId | slice:0:6}} </th>
              <th [class.active]="orderArtsList === 'artDate'" (click)="setOrderArtBtnClick('artDate')" 
                  class="mdl-data-table__cell--non-numeric text-center">  {{formLabels.artDate | slice:0:8}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
              <th [class.active]="orderArtsList === 'artName'" (click)="setOrderArtBtnClick('artName')" 
                   class="mdl-data-table__cell--non-numeric text-left">   {{formLabels.artName | slice:0:15}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
              <th [class.active]="orderArtsList === 'artLongName'" (click)="setOrderArtBtnClick('artLongName')" 
                  class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artLongName | slice:0:20}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
              <th [class.active]="orderArtsList === 'artReference'" (click)="setOrderArtBtnClick('artReference')" 
                  class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artReference | slice:0:12}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
              <th [class.active]="orderArtsList === 'artType'" (click)="setOrderArtBtnClick('artType')" 
                  class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artType | slice:0:20}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
              <th>{{formTitles.edit       | slice:0:6}}</th>
              <th>{{formTitles.factDelete | slice:0:6}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let art of factModelsArts | orderBy: orderArtsList:reverseArtsList:caseInsensitive | filterBy: searchArt ; let i = index">
              <td class="text-right">{{art.artId         | number:'1.0-0'}}</td>
              <td class="text-center text-primary" style="font-weight:900">{{art.artDate | date:'dd-MM-yyyy'}}</td>
              <td class="text-left   text-primary" style="font-weight:900">{{art.artName | slice:0:20}}</td>
              <td class="text-left" >{{art.artLongName   | slice:0:20}}</td>
              <td class="text-left" >{{art.artReference  | slice:0:12}}</td>
              <td class="text-left" >{{art.artType       | slice:0:16}}</td>
              <td>
                <button class="btn btn-outline-danger rounded mr-2 btn-sm" (click)="editArtBtnClick(art)"> <span> <i class="fas fa-edit"></i></span></button>
              </td>
              <td>
                <button class="btn btn-outline-danger rounded mr-2 btn-sm" (click)="deleteOneArtFactModelBtnClick(art)"> <span> <i class="fas fa-trash"></i></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>