<!--------------------------------SELECT MODEL FACTS------------------------------------------------------------------------->
<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-factModels rounded border border-primary">
      <a class="navbar-brand text-danger bg-factModels rounded" *ngIf="formTitles.modelsDate">{{formTitles.modelsDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-danger bg-factModels rounded" *ngIf="formTitles.modelsTitle">{{formTitles.modelsTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>     
      <a class="navbar-brand text-danger bg-factModels rounded">{{formTitles.modelsSelTitle}} <i class="fas fa-long-arrow-alt-right"></i></a>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="createFactModelBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
      </div>        
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="closeSelectFactModelBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>  
    </nav> 
    <!--------------------------------MODEL FACTS---LIST---------------------------------------------------------------------->
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-factModels" *ngIf="showSearchFactModels">
              <th><input id="sFactModelsId"       name="sFactModelsId"       [(ngModel)]="searchFactModel.factModelsId"       type="text" 
                        class="input-group-text ml-auto" style="width:100px;text-align:right;"></th> 
              <th><input id="sfactModelsDate"     name="sfactModelsDate"     [(ngModel)]="searchFactModel.factModelsDate"     type="text"   
                        class="input-group-text mx-auto" style="width:100px;text-align:center;"> </th>
              <th><input id="sFactModelsName"     name="sFactModelsName"     [(ngModel)]="searchFactModel.factModelsName"     type="text" 
                        class="input-group-text mr-auto" style="width:150px;text-align:left;"></th>                         
              <th><input id="sFactModelsProvName" name="sFactModelsProvName" [(ngModel)]="searchFactModel.factModelsProvName" type="text" 
                        class="input-group-text mr-auto" style="width:150px;text-align:left;"></th>
              <th *ngIf="editFactModel">-</th>
              <th>-</th>
            </tr>
            <tr class="bg-listheading">
              <th [class.active]="orderFactModelsList === 'factModelsId'"         (click)="setOrderFactModelBtnClick('factModelsId')"  
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.factModelsId    | slice:0:6}}
                <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th>
              <th [class.active]="orderFactModelsList === 'factModelsDate'"       (click)="setOrderFactModelBtnClick('factModelsDate')" 
                class="mdl-data-table__cell--non-numeric text-center">  {{formLabels.factModelsDate     | slice:0:8}}
                <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th>     
              <th [class.active]="orderFactModelsList === 'factModelsName'"        (click)="setOrderFactModelBtnClick('factModelsName')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.factModelsName      | slice:0:20}}
                <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th>            
              <th [class.active]="orderFactModelsList === 'factModelsProvName'"    (click)="setOrderFactModelBtnClick('factModelsProvName')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.factModelsProvName  | slice:0:20}}
                <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th>
              <th *ngIf="editFactModel">{{formLabels.factModelsEdit}}</th>
              <th>{{formLabels.factModelsSelect}}</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let factModel of factModels | orderBy: orderFactModelsList:reverseFactModelsList:caseInsensitive | filterBy: searchFactModel ; let i = index">
              <td style="text-align:right;" >{{factModel.factModelsId}}</td>
              <td class="text-center text-primary" style="font-weight:900">    {{factModel.factModelsDate  | date:'dd-MM-yyyy'}}</td>
              <td class="text-primary" style="font-weight:900;text-align:left;">  {{factModel.factModelsName   | slice:0:20}}</td>
              <td style="text-align:left;font-weight:900">  {{factModel.factModelsProvName  | slice:0:20}}</td>
              <td *ngIf="editFactModel">
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editFactModelBtnClick(factModel)"> <span> <i class="fas fa-edit"></i></span> </button>
              </td>
              <td >
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="selectedFactModelBtnClick(factModel)"> 
                  <span><i class="fas fa-hand-point-left"></i></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>