
<!--------------------------------HD TYPES---CREATE FORM---------------------------------------------------------------------->
<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-danger bg-hdTypes rounded border border-danger">
      <a class="navbar-brand text-danger bg-hdTypes rounded" *ngIf="createHdType">{{formTitles.hdTypeCreate}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-danger bg-hdTypes rounded" *ngIf="editHdType">{{formTitles.hdTypeEdit}}<i class="fas fa-arrow-right"></i></a>      
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-8" *ngIf="createHdType" (click)="createHdTypeBtnClick(hdTypeForm)" [disabled]="hdTypeForm.invalid">
                <span><i class="fas fa-save"></i></span></button>
        <button class="btn btn-outline-danger rounded mr-8" *ngIf="editHdType" (click)="updateHdTypeBtnClick(hdTypeForm)" [disabled]="hdTypeForm.invalid">
                <span><i class="fas fa-edit"></i></span></button>
      </div>   
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="closeHdTypeCreateModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>       
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" *ngIf="createHdType" (click)="cleanFormHdTypeBtnClick(hdTypeForm)"> <span> <i class="fas fa-eraser"></i></span> </button>
      </div> 
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <form [formGroup]=hdTypeForm>
          <div class="form-row">
            <label for="hdTypeId" class="col-sm-3 col-form-label">{{formLabels.hdTypeId}}</label>
            <div class="col-sm-9">
              <input id="hdTypeId" name="hdTypeId" class="form-control" formControlName="hdTypeId" 
                    type="text" style="width:300px;text-align:right;" readonly>
            </div>
          </div>
          <div class="form-row">   
            <label for="hdTypeDate" class="col-sm-3 control-label">{{formLabels.hdTypeDate}}</label>
            <div class="col-sm-9">
              <input id="hdTypeDate" name="hdTypeDate" class="form-control" formControlName="hdTypeDate"
                        placeholder="Datepicker" bsDatepicker [bsConfig]="hdTypesDatePickerConfig"
                        [value]="currentDate | date: 'dd-MM-yyyy'"                     
                        type="text" style="width:300px;text-align:right;" readonly>
            </div>
          </div>
          <div class="form-row">   
            <label for="hdTypeName" class="col-sm-3 control-label">{{formLabels.hdTypeName}}</label>
            <div class="col-sm-9">
              <input id="hdTypeName" name="hdTypeName" class="form-control" formControlName="hdTypeName" 
                    type="text" style="width:300px;text-align:right;">
              <validation-messages [control]="hdTypeForm.get('hdTypeName')"></validation-messages> 
            </div>
          </div>
          <div class="form-row">
            <label for="hdTypeType" class="col-sm-3 control-label">{{formLabels.hdTypeType}}</label>
            <div class="col-sm-9">
              <select id="hdTypeType" name="hdTypeType" class="form-control" formControlName="hdTypeType"
                          style="width:300px;" appSelectValidator="{{localHdTypeTypesRecordList[0].value}}">
                <option *ngFor="let hdTypeTypesRecord of localHdTypeTypesRecordList" [value]="hdTypeTypesRecord.value"> {{hdTypeTypesRecord.value}} </option>
              </select>                
              <validation-messages [control]="hdTypeForm.get('hdTypeType')"></validation-messages> 
            </div>
          </div>
          <div class="form-row">
            <label for="hdTypePlace" class="col-sm-3 control-label">{{formLabels.hdTypePlace}}</label>
            <div class="col-sm-9">
              <select id="hdTypePlace" name="hdTypePlace" class="form-control" formControlName="hdTypePlace"
                        style="width:300px;" appSelectValidator="{{localHdTypePlacesRecordList[0].value}}">
                <option *ngFor="let hdTypePlacesRecord of localHdTypePlacesRecordList" [value]="hdTypePlacesRecord.value"> {{hdTypePlacesRecord.value}} </option>
              </select>                
              <validation-messages [control]="hdTypeForm.get('hdTypePlace')"></validation-messages> 
            </div>
          </div>
          <div class="form-row">            
            <label for="hdTypeOrder" class="col-sm-3 control-label">{{formLabels.hdTypeOrder}}</label>              
            <div class="col-sm-9">        
              <input id="hdTypeOrder" name="hdTypeOrder" class="form-control" formControlName="hdTypeOrder" 
                        type="number" style="width:300px;text-align:right;">
              <validation-messages [control]="hdTypeForm.get('hdTypeOrder')"></validation-messages> 
            </div>         
          </div>
          <div class="form-row">            
            <label for="hdTypeStatus" class="col-sm-3 control-label">{{formLabels.hdTypeStatus}}</label>            
            <label class="col-2 col-form-label"><span>NO Activo</span></label>
            <div class="custom-control custom-switch">
              <input class="custom-control-input col-2 col-form-label" type="checkbox" id="hdTypeStatusSwitch" 
                        formControlName="hdTypeStatus" >
              <label class="custom-control-label col-form-label" for="hdTypeStatusSwitch">Activo</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>