<div class="row">
  <div class="col">
    <div [ngClass]="getNavbarClass(msgColor)">              
      <a ng-if="!msgHeader" class="mx-auto" style="font-weight:900" [ngClass]="getNavbarBrandClass(msgColor)">{{msgHeader}} 
          <i class="fas fa-long-arrow-alt-right"></i></a>  
      <div class="btn-group ml-auto" role="group">
        <div class="btn-group mx-auto" role="group">
          <button class="mr-2" [ngClass]="getButtonClass(msgColor)" (click)="changeShowObjectDetailsBtnClick()"><span><i class="fas fa-eye"></i></span> </button>
        </div>
        <div class="btn-group ml-auto" role="group">
          <button class="mr-2" [ngClass]="getButtonClass(msgColor)" (click)="closeMessageBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
        </div>
      </div>        
    </div>
    <div [ngClass]="getCardClass(msgColor)">
      <div [ngClass]="getCardBodyClass(msgColor)">
        <div ng-if="!msg1" style="font-weight:900"><p>{{msg1}}</p> </div>
        <div ng-if="!msg2" style="font-weight:900"><p>{{msg2}}</p> </div>
        <div ng-if="!msg3"><p>{{msg3}}</p> </div>
        <div ng-if="!msg4"><p>{{msg4}}</p> </div>
        <div ng-if="!msg5"><p>{{msg5}}</p> </div>
        <div ng-if="!msg6"><p>{{msg6}}</p> </div>
        <div ng-if="!msg7"><p>{{msg7}}</p> </div>
      </div> 
    </div>  
    <div [ngClass]="getNavbarClass(msgColor)"> 
      <div class="btn-group mx-auto" role="group">      
        <button type="button" style="font-weight:900" class="btn btn-outline-danger  rounded ml-4 mr-2" (click)="confirmBtnClick()" >Yes</button>
        <button type="button" style="font-weight:900" class="btn btn-outline-primary rounded ml-2 mr-4" (click)="declineBtnClick()" >No</button>
      </div>
    </div>  
    <div [ngClass]="getCardClass(msgColor)">
      <div [ngClass]="getCardBodyClass(msgColor)" *ngIf="showObjectDetails">       
        <table [ngClass]="getTableClass(msgColor)">
          <tbody> 
            <tr *ngFor = "let keyValue of objectKeyValues"> <td class="text-left"> {{keyValue | slice:0:64}}</td> </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div [ngClass]="getNavbarClass(msgColor)">              
      <a ng-if="!msgHeader" class="mx-auto" [ngClass]="getNavbarBrandClass(msgColor)">{{msgHeader}} <i class="fas fa-long-arrow-alt-right"></i></a>  
      <div class="btn-group ml-auto" role="group">
        <button class="mr-2" [ngClass]="getButtonClass(msgColor)" (click)="closeMessageBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
      </div>        
    </div>     
  </div>
</div>