<div class="card bg-enterNumber  text-primary rounded border border-primary text-center">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-hds rounded border border-primary">
      <a class="navbar-brand text-primary bg-hds rounded ">
        {{displayMessage1}}<i class="fas fa-long-arrow-alt-right"></i>
        {{displayMessage2}}<i class="fas fa-arrow-alt-circle-right"></i>
      </a>
      <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="returnNumber()" [disabled]="displayForm.invalid">
              <span> <i class="fas fa-save"></i></span></button>
      </div>
      <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="closeModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-hds rounded border border-primary mx-auto"> 
      <a class="navbar-brand text-primary bg-hds rounded mx-auto">
        {{displayMessage3}}
      </a>
    </nav>
    <div class="card-body bg-adding ">
      <form [formGroup]=displayForm>     
        <div class="form-group row">        
          <div class="col-sm">
            <select id="hdSumSelected" name="hdSumSelected" formControlName="hdSumSelected" 
                  class="form-control mx-auto" appSelectValidator="{{selectHdTypesRecordList[0].value}}">
              <option *ngFor="let hdSumTypeRecord of selectHdTypesRecordList" [value]="hdSumTypeRecord.value"> 
                {{hdSumTypeRecord.value}} </option>
            </select>
            <validation-messages [control]="displayForm.get('hdSumSelected')"></validation-messages>                      
          </div>
          <div class="col-sm">
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
          <div class="col-sm">
            <input id="updateNumber" name="updateNumber" formControlName="updateNumber" type="number" 
                  class="form-control mx-auto" style="width:150px;text-align:right;" >
            <validation-messages [control]="displayForm.get('updateNumber')"></validation-messages>                 
          </div>
        </div>
      </form>
    </div>        
  </div>
