<!-------------------------------- SELECT VR LIST ---------------------------------------------------------------------->
<div class="card bg-enterDate text-primary rounded border border-primary">
  <nav class="navbar navbar-expand-lg navbar-light text-primary bg-enterDate rounded border border-primary">      
    <a class="navbar-brand text-primary bg-enterDate rounded ">
        {{selectTitle1}} <i class="fas fa-arrow-alt-circle-right"></i>  
    </a> 
    <a class="navbar-brand text-primary  mx-auto bg-enterDate rounded ">
        {{selectTitle2}}  
    </a>         
    <div class="btn-group ml-auto" role="group">
      <button class="btn btn-outline-primary rounded mr-2" (click)="closeSelectValueRecordListModalBtnClick()"><i class="fas fa-reply-all"></i></button>
    </div>  
  </nav>
  <div class="card-body">
    <div class="text-center" ng-if="!dateMessage">{{selectMessage}}</div>
    <div [formGroup]="valueRecordForm">
      <div class="form-row">
        <label for="valueRecord" class="col-3 control-label">{{selectLabel}}</label>
        <div class="col-5">
          <select id="valueRecord" name="valueRecord" class="form-control" formControlName="valueRecord"
                appSelectValidator="{{localValueRecordList[0].value}}" >
            <option *ngFor="let valueRecord of localValueRecordList" [value]="valueRecord.value"> {{valueRecord.value}} </option>
          </select>
          <validation-messages [control]="valueRecordForm.get('valueRecord')"></validation-messages> 
        </div>
        <div class="mx-auto" >     
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" (click)="saveSelectedValueRecordBtnClick()" [disabled]="valueRecordForm.invalid">
              <span><i class="far fa-check-circle"></i></span>
            </button> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">   
    <div ng-if="!selectFooter"> <p>{{selectFooter}}</p> </div>        
  </div>       
</div>