<!--------------------------------MONTHS ---ADDED -- LIST---------------------------------------------------------------------->
<div class="row">
    <div class="col"> 
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-months rounded border border-primary">
        <a class="navbar-brand text-primary bg-months rounded">
           {{formTitles.monthListYearString}} <i class="fas fa-arrow-alt-circle-right"></i>
           {{formTitles.monthListMonthString}} <i class="fas fa-arrow-alt-circle-right"></i>
           {{formTitles.monthEdit}}<i class="fas fa-long-arrow-alt-right"></i></a>          
        <a class="navbar-brand text-danger bg-months rounded" style="font-size:16px;font-weight:900">{{monthSummRecordsTotalString | slice:0:25}}</a>  
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-success rounded mx-1" (click)="selectMonthSummRecordsNameBtnClick()"><span><i class="far fa-window-restore"></i></span></button>      
          <button class="btn btn-outline-info rounded mx-1" (click)="selectMonthSummRecordsTypeBtnClick()"><span><i class="far fa-window-restore"></i></span></button>
          <button class="btn btn-outline-warning rounded mx-1" (click)="selectMonthSummRecordsPlaceBtnClick()"><span><i class="far fa-window-restore"></i></span></button>           
        </div> 
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded" (click)="closeMonthSummModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
        </div>  
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-primary rounded" (click)="searchMonthSummRecordBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
        </div> 
      </nav>
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-months" *ngIf="showSearchMonthSummRecord"> 
                <th>-</th>
                <th><input id="smonthId"     name="smonthId"     [(ngModel)]="searchMonthSummRecord.monthId"    type="text" 
                    class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
                <th><input id="smonthDate"   name="smonthDate"   [(ngModel)]="searchMonthSummRecord.monthDate"  type="text" 
                    class="input-group-text mr-auto" style="width:70px;text-align:left;"></th> 
                <th><input id="smonthName"   name="smonthName"   [(ngModel)]="searchMonthSummRecord.monthName"  type="text" 
                    class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
                <th><input id="smonthType"  name="smonthType"    [(ngModel)]="searchMonthSummRecord.monthType"  type="text" 
                    class="input-group-text ml-auto" style="width:70px;text-align:right;"></th>
                <th><input id="smonthPlace"  name="smonthPlace"  [(ngModel)]="searchMonthSummRecord.monthPlace" type="text" 
                    class="input-group-text ml-auto" style="width:70px;text-align:right;"></th>
                <th><input id="smonthAmount" name="smonthAmount" [(ngModel)]="searchMonthSummRecord.monthAmount" type="text" 
                    class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
                <th><input id="smonthNotes"  name="smonthNotes"  [(ngModel)]="searchMonthSummRecord.monthNotes" type="text" 
                    class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
                <th><input id="shdSatus"  name="smonthStatus"  [(ngModel)]="searchMonthSummRecord.monthStatus" type="text" 
                    class="input-group-text mx-auto" style="width:50px;text-align:center;"></th>            
              </tr>
              <tr class="bg-listheading"> 
                <th>{{formLabels.id | slice:0:10}}</th> 
                <th [class.active]="orderMonthSummRecords === 'monthId'" (click)="setOrderMonthSummRecordsBtnClick('monthId')" 
                    class="mdl-data-table__cell--non-numeric">      {{formLabels.monthId       | slice:0:10}}
                    <span [hidden]="!reverseMonthSummRecords">▼</span>  <span [hidden]="reverseMonthSummRecords">▲</span> </th>
                <th [class.active]="orderMonthSummRecords === 'monthDate'" (click)="setOrderMonthSummRecordsBtnClick('monthDate')" 
                    class="mdl-data-table__cell--non-numeric">      {{formLabels.monthDate     | slice:0:15}}
                    <span [hidden]="!reverseMonthSummRecords">▼</span>  <span [hidden]="reverseMonthSummRecords">▲</span> </th>             
                <th [class.active]="orderMonthSummRecords === 'monthName'" (click)="setOrderMonthSummRecordsBtnClick('monthName')" 
                    class="mdl-data-table__cell--non-numeric">      {{formLabels.monthName     | slice:0:25}}
                    <span [hidden]="!reverseMonthSummRecords">▼</span>  <span [hidden]="reverseMonthSummRecords">▲</span> </th>  
                <th [class.active]="orderMonthSummRecords === 'monthType'" (click)="setOrderMonthSummRecordsBtnClick('monthType')" 
                    class="mdl-data-table__cell--non-numeric">      {{formLabels.monthType     | slice:0:15}}
                    <span [hidden]="!reverseMonthSummRecords">▼</span>  <span [hidden]="reverseMonthSummRecords">▲</span> </th> 
                <th [class.active]="orderMonthSummRecords === 'monthPlace'" (click)="setOrderMonthSummRecordsBtnClick('monthPlace')" 
                    class="mdl-data-table__cell--non-numeric">      {{formLabels.monthPlace    | slice:0:15}}
                    <span [hidden]="!reverseMonthSummRecords">▼</span>  <span [hidden]="reverseMonthSummRecords">▲</span> </th>
                <th [class.active]="orderMonthSummRecords === 'monthAmount'" (click)="setOrderMonthSummRecordsBtnClick('monthAmount')" 
                    class="mdl-data-table__cell--non-numeric">      {{formLabels.monthAmount   | slice:0:15}}
                    <span [hidden]="!reverseMonthSummRecords">▼</span>  <span [hidden]="reverseMonthSummRecords">▲</span> </th>
                <th [class.active]="orderMonthSummRecords === 'monthNotes'" (click)="setOrderMonthSummRecordsBtnClick('monthNotes')" 
                    class="mdl-data-table__cell--non-numeric">      {{formLabels.monthNotes    | slice:0:20}}
                    <span [hidden]="!reverseMonthSummRecords">▼</span>  <span [hidden]="reverseMonthSummRecords">▲</span> </th>
                <th [class.active]="orderMonthSummRecords === 'monthStatus'" (click)="setOrderMonthSummRecordsBtnClick('monthStatus')" 
                    class="mdl-data-table__cell--non-numeric">
                    <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
                    <span [hidden]="!reverseMonthSummRecords">▼</span>  <span [hidden]="reverseMonthSummRecords">▲</span> </th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let monthSummRecord of monthSummRecords | orderBy: orderMonthSummRecords:reverseMonthSummRecords:caseInsensitive | filterBy: searchMonthSummRecord ; let i = index">
                <td class="text-right"> {{i  | number:'1.0-0'}}</td>
                <td class="text-right"> {{monthSummRecord.monthId    | number:'1.0-0'}}</td>
                <td class="text-left text-primary">   {{monthSummRecord.monthDate | date:'dd-MM-yyyy'}}</td> 
                <td class="text-left text-success" style="font-weight:900"> {{monthSummRecord.monthName | slice:0:25}}</td>
                <td class="text-right text-info">     {{monthSummRecord.monthType  | slice:0:15}}</td>
                <td class="text-right text-warning">  {{monthSummRecord.monthPlace | slice:0:15}}</td>
                <td class="text-right" style="font-weight:900">   {{monthSummRecord.monthAmount | number:'.2-2'}}</td>
                <td class="text-right">  {{monthSummRecord.monthNotes | slice:0:10}}</td>
                <td *ngIf="monthSummRecord.monthStatus"><i class="fas fa-unlock-alt"></i></td>
                <td *ngIf="!monthSummRecord.monthStatus"><i class="fas fa-lock"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>