<!--------------------------------MONTHS SHOW ROW --- BANK CAJA RET --- DIN SUM -- DIN RES -------------------------------------->
<div class="row" *ngIf="showMonthDinout">
  <nav class="col navbar navbar-expand-lg navbar-light text-primary bg-provs rounded border border-primary">
    <a class="navbar-brand text-primary bg-provs rounded">
          {{formTitles.monthListYearString}} <i class="fas fa-arrow-alt-circle-right"></i>
          {{formTitles.monthListMonthString}} <i class="fas fa-arrow-alt-circle-right"></i>
          {{formTitles.monthEdit}}<i class="fas fa-long-arrow-alt-right"></i></a>          
    <a class="navbar-brand text-primary bg-provs rounded mx-auto" style="font-size:16px;font-weight:900">
          {{this.formTitles.monthsListDateStart}}<i class="fas fa-long-arrow-alt-right"></i>{{this.formTitles.monthsListDateEnd}}</a> 
    <div class="btn-group mx-auto bg-provs" role="group">
      <button class="btn btn-outline-danger rounded ml-2" (click)="saveMonthDinoutBtnClick()" 
          [disabled]="monthDinBankCajaForm.invalid || monthDinRetForm.invalid"><span><i class="fas fa-save"></i></span></button>          
    </div>
    <a class="navbar-brand text-danger bg-provs rounded" style="font-size:16px;font-weight:900"><i class="fas fa-arrow-alt-circle-right"></i>
      {{totalDifDinMonthRESString | slice:0:35}}</a>  
    <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-primary rounded" (click)="closeMonthDinoutModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
    </div>  
  </nav>
</div>
<div class="row" *ngIf="showMonthDinout">
  <div class="col card bg-provs text-black rounded border border-success">
    <div class="card-body">
      <div class="card-title text-primary row">     
        <label class="text-danger" style="width:110px;font-size:13px;font-weight:900;text-align:center;">{{formLabels.monthBCName | slice:0:15}}</label> 
        <label style="width:110px;font-size:13px;font-weight:900;text-align:right ;">{{formLabels.monthBankCajaDSum | slice:0:10}}</label>
        <label style="width:110px;font-size:13px;font-weight:900;text-align:right ;">{{formLabels.monthBankCajaDRes | slice:0:10}}</label>
        <label class="text-danger" style="width:110px;font-size:13px;font-weight:900;text-align:right ;">{{formLabels.monthResDDif | slice:0:15}}</label>
      </div>         
      <form [formGroup]="monthDinBankCajaForm">
        <div formArrayName="monthDinBankCajaFormArray" *ngFor = "let monthDinBankCaja of monthDinBankCajaFormArray.controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-row"> 
              <div>
                <input [id]="'monthBankCajaName'+i" name="monthBankCajaName" class="form-control text-primary" 
                        type="text" style="width:110px;font-size:14px;text-align:left;font-weight:900;" 
                        formControlName="monthBankCajaName" readonly>
              </div>
              <div>
                <input [id]="'monthBankCajaDSum'+i" name="monthBankCajaDSum" class="form-control text-primary" 
                        type="text" style="width:110px;font-size:14px;text-align:right;" 
                        (blur) = "setNumberDecimal($event)" 
                        formControlName="monthBankCajaDSum">
                <validation-messages [control]="monthDinBankCaja.get('monthBankCajaDSum')" style="width:80px;font-size:8px;text-align:left"></validation-messages>   
              </div>
              <div>
                <input [id]="'monthBankCajaDRes'+i" name="monthBankCajaDRes" class="form-control text-primary"                  
                        type="text" style="width:110px;font-size:13px;text-align:right;" 
                        (blur) = "setNumberDecimal($event)" 
                        formControlName="monthBankCajaDRes">
                <validation-messages [control]="monthDinBankCaja.get('monthBankCajaDRes')" style="width:80px;font-size:8px;text-align:left"></validation-messages>   
              </div>
              <div>
                <input [id]="'monthBankCajaDDif'+i" name="monthBankCajaDDif" class="form-control text-danger"                  
                        type="text" style="width:110px;font-size:13px;text-align:right;" 
                        formControlName="monthBankCajaDDif" readonly>
              </div>                                               
            </div>
          </div>
        </div>
      </form>               
    </div>
  </div>
  <div class="col card bg-provs text-black rounded border border-success">
    <div class="card-body">
      <div class="card-title text-primary row">      
        <label class="text-danger" style="width:110px;font-size:14px;font-weight:900;text-align:center;">{{formLabels.monthRetName | slice:0:15}}</label> 
        <label style="width:110px;font-size:14px;font-weight:900;text-align:right ;">{{formLabels.monthResDSum | slice:0:10}}</label>
        <label style="width:110px;font-size:14px;font-weight:900;text-align:right ;">{{formLabels.monthResDRes | slice:0:10}}</label>
        <label class="text-danger" style="width:110px;font-size:14px;font-weight:900;text-align:right ;">{{formLabels.monthResDDif | slice:0:15}}</label>
      </div>         
      <form [formGroup]="monthDinRetForm">
        <div formArrayName="monthDinRetFormArray" *ngFor = "let monthDinRet of monthDinRetFormArray.controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-row"> 
              <div>
                <input [id]="'monthRetName'+i" name="monthRetName" class="form-control text-primary" 
                        type="text" style="width:110px;font-size:14px;text-align:left;font-weight:900;" 
                        formControlName="monthRetName" readonly>
              </div>
              <div>
                <input [id]="'monthRetDSum'+i" name="monthRetDSum" class="form-control text-primary" 
                        type="text" style="width:110px;font-size:14px;text-align:right;" 
                        (blur) = "setNumberDecimal($event)" 
                        formControlName="monthRetDSum">
                <validation-messages [control]="monthDinRet.get('monthRetDSum')" style="width:80px;font-size:8px;text-align:left"></validation-messages>   
              </div>
              <div>
                <input [id]="'monthRetDRes'+i" name="monthRetDRes" class="form-control text-primary"                  
                        type="text" style="width:110px;font-size:14px;text-align:right;"
                        (blur) = "setNumberDecimal($event)" 
                        formControlName="monthRetDRes">
                <validation-messages [control]="monthDinRet.get('monthRetDRes')" style="width:80px;font-size:8px;text-align:left"></validation-messages>   
              </div>
              <div>
                <input [id]="'monthRetDDif'+i" name="monthRetDDif" class="form-control text-danger" 
                        type="text" style="width:110px;font-size:14px;text-align:right;"                           
                        formControlName="monthRetDDif" readonly>
              </div>                                                     
            </div>
          </div>
        </div>
      </form>  
    </div>
  </div>             
</div>