<!--------------------------------MONTHS ---CARDS SUMMARY ---------------------------------------------------------------------->
<div class="row">
  <div class="col"> 
    <nav class="navbar navbar-expand-lg navbar-light text-white bg-cardTotals rounded border border-primary">
      <a class="navbar-brand text-white bg-cardTotals rounded">
           {{formTitles.monthListYearString}} <i class="fas fa-arrow-alt-circle-right"></i>
           {{formTitles.monthListMonthString}} <i class="fas fa-arrow-alt-circle-right"></i>
           {{formTitles.monthCards}}<i class="fas fa-long-arrow-alt-right"></i></a>          
      <a class="navbar-brand text-black bg-cardTotals rounded mx-auto" style="font-size:16px;font-weight:900">
            {{this.formTitles.cardsListDateStart}}<i class="fas fa-long-arrow-alt-right"></i>{{this.formTitles.cardsListDateEnd}}</a> 
      <a class="navbar-brand text-white bg-cardTotals rounded" style="font-size:16px;font-weight:900"><i class="fas fa-arrow-alt-circle-right"></i>
            {{formTitles.monthsCardsTotalString | slice:0:35}}</a>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded" (click)="closeMonthCardsModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>  
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-cardTotals">
              <th class="mdl-data-table__cell--non-numeric text-center">{{formLabels.monthCardTpvId     | slice:0:16}}</th>
              <th class="mdl-data-table__cell--non-numeric text-left" style="font-weight:900">  {{formLabels.monthCardName | slice:0:16}}</th>
              <th class="mdl-data-table__cell--non-numeric text-left">  {{formLabels.monthCardBank      | slice:0:16}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCardPrevNot   | slice:0:16}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right" style="font-weight:900"> {{formLabels.monthCardHds  | slice:0:16}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCardPayNot    | slice:0:16}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCardPayTot    | slice:0:16}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCardTotMoney  | slice:0:16}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCardTotExp    | slice:0:16}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCardTotBank   | slice:0:16}}</th>
            </tr>
          </thead>
          <tbody> 
            <tr *ngFor = "let card of monthCardsSummary">
              <td class="text-center">{{card.monthCardTpvId     | number:'1.0-0'}}</td>
              <td class="text-left text-primary" style="font-weight:900">  {{card.monthCardName | slice:0:14}}</td>
              <td class="text-left">  {{card.monthCardBank      | slice:0:14}}</td>
              <td class="text-right"> {{card.monthCardPrevNot   | number:'.2-2'}}</td>
              <td class="text-right text-primary" style="font-weight:900"> {{card.monthCardHds  | number:'.2-2'}}</td>
              <td class="text-right"> {{card.monthCardPayNot    | number:'.2-2'}}</td>
              <td class="text-right"> {{card.monthCardPayTot    | number:'.2-2'}}</td>
              <td class="text-right"> {{card.monthCardTotMoney  | number:'.2-2'}}</td>
              <td class="text-right"> {{card.monthCardTotExp    | number:'.2-2'}}</td>
              <td class="text-right text-primary"> {{card.monthCardTotBank   | number:'.2-2'}}</td>
            </tr>           
          </tbody>
        </table>
      </div> 
    </div>
    <nav class="navbar navbar-expand-lg navbar-light text-white bg-cardTotals rounded border border-primary">
      <a class="navbar-brand text-white bg-cardTotals rounded">
           {{formTitles.monthListYearString}} <i class="fas fa-arrow-alt-circle-right"></i>
           {{formTitles.monthListMonthString}} <i class="fas fa-arrow-alt-circle-right"></i>
           {{formTitles.monthBankCards}}<i class="fas fa-long-arrow-alt-right"></i></a>          
      <a class="navbar-brand text-black bg-cardTotals rounded mx-auto" style="font-size:16px;font-weight:900">
            {{this.formTitles.cardsListDateStart}}<i class="fas fa-long-arrow-alt-right"></i>{{this.formTitles.cardsListDateEnd}}</a> 
      <a class="navbar-brand text-white bg-cardTotals rounded" style="font-size:16px;font-weight:900"><i class="fas fa-arrow-alt-circle-right"></i>
            {{formTitles.monthsBankCardsTotalString | slice:0:35}}</a>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded" (click)="closeMonthCardsModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>  
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-cardTotals">
              <th class="mdl-data-table__cell--non-numeric text-left" style="font-weight:900">{{formLabels.monthBankName | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthBankTotal | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCard0 | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCard1 | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCard2 | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCard3 | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCard4 | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCard5 | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCard6 | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCard7 | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCard8 | slice:0:13}}</th>
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.monthCard9 | slice:0:13}}</th>

            </tr>
          </thead>
          <tbody> 
            <tr *ngFor = "let bankCard of monthBankCardsArray">
              <td class="text-left  text-primary" style="font-weight:900"> {{bankCard.monthBankName  | slice:0:14}}</td>
              <td class="text-right text-primary" style="font-weight:900"> {{bankCard.monthBankTotal | number:'.2-2'}}</td>
              <td class="text-right"> {{bankCard.monthCard0 | number:'.2-2'}}</td>
              <td class="text-right"> {{bankCard.monthCard1 | number:'.2-2'}}</td>
              <td class="text-right"> {{bankCard.monthCard2 | number:'.2-2'}}</td>
              <td class="text-right"> {{bankCard.monthCard3 | number:'.2-2'}}</td>
              <td class="text-right"> {{bankCard.monthCard4 | number:'.2-2'}}</td>
              <td class="text-right"> {{bankCard.monthCard5 | number:'.2-2'}}</td>
              <td class="text-right"> {{bankCard.monthCard6 | number:'.2-2'}}</td>
              <td class="text-right"> {{bankCard.monthCard7 | number:'.2-2'}}</td>
              <td class="text-right"> {{bankCard.monthCard8 | number:'.2-2'}}</td>
              <td class="text-right"> {{bankCard.monthCard9 | number:'.2-2'}}</td>
            </tr>           
          </tbody>
        </table>
      </div> 
    </div>
  </div> 
</div> 