<!--------------------------------MONTHS---NAVBAR---------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-light text-primary bg-white rounded border border-primary ml-auto menu_pos1"> 
  <a class="navbar-brand text-primary bg-white rounded">
    <i class="text-danger text-capitalize font-weight-bold">{{globalVar.currentBar}}...</i><i class="fas fa-long-arrow-alt-right"></i>          
    {{formTitles.monthHeader}} <i class="fas fa-thumbs-up"></i></a>      
  <div class="btn-group mx-auto" role="group">
    <button class="btn btn-outline-primary rounded mr-2" (click)="changeShowMonthsListBtnClick()"><span><i class="fas fa-list-ol"></i></span></button>
  </div> 
  <div class="btn-group mx-auto" role="group">
    <button class="btn btn-outline-primary rounded mr-2" (click)="selectYearBtnClick()"><span><i class="far fa-calendar-plus"></i></span></button>
  </div>  
</nav>
<!--------------------------------MONTHS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div *ngIf="showEditMonth">  
  <nav class="navbar navbar-expand-lg navbar-light text-primary bg-months rounded border border-primary ml-auto menu_pos2" *ngIf="!showEditMonth"> 
    <a class="navbar-brand text-success bg-months rounded">
      {{formTitles.monthSummYearString}} <i class="fas fa-arrow-alt-circle-right"></i>
      {{formTitles.monthEditMonthString}} <i class="fas fa-arrow-alt-circle-right"></i>
      {{formTitles.monthEdit}}<i class="fas fa-long-arrow-alt-right"></i></a>  
    <!--<span><i class="fas fa-eye"></i></span> - fas fa-list - far fa-file-alt - far fa-file-alt - fas fa-exchange-alt -->      
    <div class="btn-group mr-auto bg-arts" role="group">          
      <button class="btn btn-outline-primary rounded" 
              (click)="showEditMonthDinStartEndBtnClick()"><div style='text-align:center;font-size:14px;'>Ini-Fin</div></button>
    </div>
    <div class="btn-group mx-auto bg-provs" role="group">
      <button class="btn btn-outline-primary rounded" style='background-color:transparent'
              (click)="showEditMonthDinInOutBtnClick()"><div style='text-align:center;font-size:14px;'>In-Out</div></button>  
    </div> 
    <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-primary rounded bg-facts"
              (click)="showEditMonthFactsBtnClick()"><div style='text-align:center;font-size:14px;'>Fact</div></button>
    </div>
    <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-primary rounded bg-cardTotals"
              (click)="showMonthCardsSummaryBtnClick()"><div style='text-align:center;font-size:14px;'>Tarj</div></button>
    </div>       
    <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-primary rounded bg-hds"
              (click)="showMonthsHdsBtnClick()"><div style='text-align:center;font-size:14px;'>HojasDía</div></button>           
    </div> 
    <div class="btn-group ml-auto" role="group"> 
      <button class="btn btn-outline-primary rounded bg-months"
              (click)="showMonthSummRecordsBtnClick()"><div style='text-align:center;font-size:14px;'>Mes</div></button>                                                  
    </div>   
  </nav>
</div>    
<!--------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------MONTHS SHOW---ROW---------------------------------------------------------------------->  
<div *ngIf="showEditMonth">
  <!--------------------------------MONTHS SHOW---COL TPVS---------------------------------------------------------------------->
  <div class="col-4 pl-2 pr-0" *ngIf="true">
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">              
        <table class="table table-hover">
          <thead>
            <tr class="bg-months">
              <th class="text-left">  {{formLabels.monthTpvName     | slice:0:22}}<i class="fas fa-long-arrow-alt-right"></i></th>
              <th class="text-right"> {{formLabels.monthTpvTickets  | slice:0:7}}</th>
              <th class="text-right"> {{formLabels.monthTpvTicket   | slice:0:10}}</th>
              <th class="text-right"> {{formLabels.monthTpvMoney    | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody> 
            <tr [ngClass]="getClass(monthTpv.monthTpvType)" *ngFor = "let monthTpv of monthTpvSummRecords">
              <td class="text-left">  {{monthTpv.monthTpvName    | slice:0:14}}<i [ngClass]="getArrow(monthTpv.monthTpvType)"></i></td>
              <td class="text-right"> {{monthTpv.monthTpvTickets | number: '1.0-0'}}</td>
              <td class="text-right"> {{monthTpv.monthTpvTicket  | number: '.2-2'}}</td>
              <td class="text-right"> {{monthTpv.monthTpvMoney   | number: '.2-2'}}</td>
            </tr>
            <tr class="bg-highlight" *ngFor = "let monthHd of wMonthHdsDDif">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td class="text-right"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right"><i class="fas fa-long-arrow-alt-right"></i></td>  
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>               
          </tbody>
        </table>
      </div>
    </div>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">    
        <table class="table table-hover">
          <thead>
            <tr class="bg-months">
              <th class="text-left">  {{formLabels.monthConcept     | slice:0:15}}</th>
              <th><i class="fas fa-long-arrow-alt-right"></i></th>
              <th class="text-right"> {{formLabels.monthTpvMoney    | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody>      
            <tr class="bg-highlight" style="font-weight:900" *ngFor = "let monthHd of wMonthHdsDayD">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td>+</td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr class="bg-highlight"  style="font-weight:900" *ngFor = "let monthHd of wMonthHdsDayT">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td>-</td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr class="bg-highlight" *ngFor = "let monthHd of wMonthHdsDayF">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td class="text-right"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--------------------------------MONTHS SHOW---COL HDS---------------------------------------------------------------------->
  <div class="col-3 px-0" *ngIf="true">
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">              
        <table class="table table-hover">
          <thead>
            <tr class="bg-tableheading">
              <th class="text-left">  {{formLabels.monthSuper       | slice:0:15}}</th>
              <th><i class="fas fa-long-arrow-alt-right"></i></th>
              <th class="text-right"> {{formLabels.monthTpvMoney    | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody> 
            <tr class="table-primary" style="font-weight:900" *ngFor = "let monthHd of wMonthSupTeor">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>
            <tr class="table-primary" style="font-weight:900" *ngFor = "let monthHd of wMonthSupDin">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>
            <tr class="table-primary" style="font-weight:900" *ngFor = "let monthHd of wMonthSupDif">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">              
        <table class="table table-hover">
          <thead>
            <tr class="bg-tableheading">
              <th class="text-left">  {{formLabels.monthIncome      | slice:0:15}}</th>
              <th><i class="fas fa-long-arrow-alt-right"></i></th>
              <th class="text-right"> {{formLabels.monthTpvMoney    | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody> 
            <tr class="table-primary" style="font-weight:900" *ngFor = "let monthHd of wMonthHdsIngrTot">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr class="bg-highlight" style="font-weight:900" *ngFor = "let monthHd of wMonthHdsDayD">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td>+</td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr class="bg-highlight" style="font-weight:900" *ngFor = "let monthHd of wMonthHdsMaqBSum">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td>+</td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr  *ngFor = "let monthHd of wMonthHdsMaqB">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr class="bg-highlight" style="font-weight:900" *ngFor = "let monthHd of wMonthHdsMaqASum">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td>+</td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr  *ngFor = "let monthHd of wMonthHdsMaqA">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>               
            <tr class="bg-highlight" style="font-weight:900" *ngFor = "let monthHd of wMonthHdsTabSum">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td>+</td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr  *ngFor = "let monthHd of wMonthHdsTab">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>       
            <tr class="bg-highlight" style="font-weight:900" *ngFor = "let monthHd of wMonthHdsGoodsSum">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td>+</td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr  *ngFor = "let monthHd of wMonthHdsGoods">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>      
            <tr class="bg-highlight" style="font-weight:900" *ngFor = "let monthHd of wMonthHdsOtherSum">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td>+</td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr  *ngFor = "let monthHd of wMonthHdsOther">
              <td class="text-left">  {{monthHd.monthName   | slice:0:15}}</td> 
              <td></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>              
          </tbody>
        </table>
      </div>
    </div>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">    
        <table class="table table-hover">
          <thead>
            <tr class="bg-tableheading">
              <th class="text-left">  {{formLabels.monthExpenses    | slice:0:15}}</th>
              <th><i class="fas fa-long-arrow-alt-right"></i></th>
              <th class="text-right"> {{formLabels.monthTpvMoney    | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody>  
            <tr class="table-primary" style="font-weight:900" *ngFor = "let monthHd of wMonthFactsProvsSum">
              <td class="text-left">  {{monthHd.monthName   | slice:0:22}}</td> 
              <td></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>
            <tr class="table-primary" style="font-weight:900" *ngFor = "let monthHd of wMonthHdsFactSum">
              <td class="text-left">  {{monthHd.monthName   | slice:0:22}}</td> 
              <td></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>
            <tr class="table-primary" style="font-weight:900" *ngFor = "let monthHd of wMonthFactsPayTypesSum">
              <td class="text-left">  {{monthHd.monthName   | slice:0:22}}</td> 
              <td></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>
            <tr  *ngFor = "let monthHd of wMonthFactsPayTypes">
              <td class="text-left">  {{monthHd.monthName   | slice:0:22}}</td> 
              <td>+</td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>   
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--------------------------------MONTHS SHOW---COL BANK CAJA RET ----------------------------------------------------------------->
  <div class="col-3 px-0" [style.top.px]="globalVar.topData" *ngIf="true">
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">    
        <table class="table table-hover">
          <thead>
            <tr class="bg-tableheading">
              <th class="text-left">  {{formLabels.monthCards       | slice:0:22}}</th>
              <th><i class="fas fa-long-arrow-alt-right"></i></th>
              <th class="text-right"> {{formLabels.monthTpvMoney    | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-primary" style="font-weight:900" *ngFor = "let monthHd of wMonthHdsCards">
              <td class="text-left">  {{monthHd.monthName   | slice:0:22}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>     
            <tr class="table-primary" style="font-weight:900" *ngFor = "let monthHd of wMonthCardPayoutsSum">
              <td class="text-left">  {{monthHd.monthName   | slice:0:22}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
            <tr  *ngFor = "let monthHd of wMonthCardPayoutsTpv">
              <td class="text-left">  {{monthHd.monthName   | slice:0:22}}</td> 
              <td></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">    
        <table class="table table-hover">            
          <thead>
            <tr class="bg-tableheading">
              <th class="text-left">  {{formLabels.monthBankCaja     | slice:0:22}}</th>
              <th><i class="fas fa-long-arrow-alt-right"></i></th>
              <th class="text-right"> {{formLabels.monthTpvMoney    | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let monthHd of wMonthHdsResBankCajaSum">
              <td class="text-left">{{monthHd.monthType | slice:-4}}+{{monthHd.monthName | slice:0:15}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">    
        <table class="table table-hover">            
          <thead>
            <tr class="bg-tableheading">
              <th class="text-left">  {{formLabels.monthRet     | slice:0:22}}</th>
              <th><i class="fas fa-long-arrow-alt-right"></i></th>
              <th class="text-right"> {{formLabels.monthTpvMoney    | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let monthHd of wMonthHdsResRetSum">
              <td class="text-left">{{monthHd.monthType | slice:-4}}+{{monthHd.monthName | slice:0:15}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
          </tbody>
        </table>
      </div>        
    </div>
  </div>
  <!--------------------------------MONTHS SHOW---COL FACTS---------------------------------------------------------------------->
  <div class="col-2 pl-0 pr-2" [style.top.px]="globalVar.topData" *ngIf="true">
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">              
        <table class="table table-hover">
          <thead>
            <tr class="bg-months">
              <th class="text-left">  {{formLabels.monthFactsProv   | slice:0:12}}</th>
              <th class="text-right"> {{formLabels.monthTpvMoney    | slice:0:6}}</th>
            </tr>
            <tr class="table-primary" style="font-weight:900" *ngFor = "let monthHd of wMonthFactsProvsSum">
              <td class="text-left">  {{monthHd.monthName   | slice:0:12}}</td> 
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr> 
          </thead>
          <tbody>     
            <tr  *ngFor = "let monthHd of wMonthFactsProvs">
              <td class="text-left">  {{monthHd.monthName   | slice:0:10}}</td> 
              <td class="text-right"> {{monthHd.monthAmount | number: '.2-2'}}</td>
            </tr>              
          </tbody>
        </table>
      </div>
    </div>
  </div>    
</div>
<!--------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------MONTHS---LIST---------------------------------------------------------------------->
<div *ngIf="showMonthsSummList">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-hds rounded border border-primary menu_pos2">
      <a class="navbar-brand text-primary bg-hds rounded">
        {{formTitles.monthSummYear}} <i class="fas fa-arrow-alt-circle-right"></i>
        {{formTitles.monthSummYearString}} <i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-danger  bg-hds rounded mx-auto" style="font-size:16px;font-weight:900">{{monthsSummTotalString | slice:0:60}}</a>
      <div class="btn-group" role="group">
        <button class="btn btn-outline-primary rounded mr-8" (click)="createMonthSummBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
      </div>        
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="showSearchMonthsSummBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
        <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllMonthsSummBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
      </div>       
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body scrollable">
        <table class="table table-hover">
          <thead class="sticky-top">
            <tr class="bg-hds" *ngIf="showSearchMonthSumm">            
              <th class="text-right">-</th>    
              <th><input id="smonthSummDate"  name="smonthSummDate"  [(ngModel)]="searchMonthSumm.monthSummDate"  type="text" 
                    class="input-group-text ml-auto" style="width:100px;text-align:right;"></th> 
              <th><input id="smonthSummMonth"  name="smonthSummMonth"  [(ngModel)]="searchMonthSumm.monthSummMonth"  type="text" 
                    class="input-group-text ml-auto" style="width:100px;text-align:right;"></th>           
              <th class="text-right">-</th>
              <th class="text-right">-</th>
              <th class="text-right">-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
            </tr>
            <tr class="bg-listheading">  
              <th>{{formLabels.id | slice:0:5}}</th>               
              <th [class.active]="orderMonthSummList === 'monthSummDate'"    (click)="setMonthSummOrderBtnClick('monthSummDate')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.monthSummDate}}
                <span [hidden]="!reverseMonthSummList">▼</span>  <span [hidden]="reverseMonthSummList">▲</span> </th>
              <th [class.active]="orderMonthSummList === 'monthSummMonth'"    (click)="setMonthSummOrderBtnClick('monthSummMonth')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.monthSummMonth}}
                <span [hidden]="!reverseMonthSummList">▼</span>  <span [hidden]="reverseMonthSummList">▲</span> </th>
              <th [class.active]="orderMonthSummList === 'monthSummIncomes'" (click)="setMonthSummOrderBtnClick('monthSummIncomes')"
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.monthSummIncomes}}
                <span [hidden]="!reverseMonthSummList">▼</span>  <span [hidden]="reverseMonthSummList">▲</span> </th>
              <th [class.active]="orderMonthSummList === 'monthSummFacts'"   (click)="setMonthSummOrderBtnClick('monthSummFacts')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.monthSummFacts}}
                <span [hidden]="!reverseMonthSummList">▼</span>  <span [hidden]="reverseMonthSummList">▲</span> </th>
              <th [class.active]="orderMonthSummList === 'monthSummDif'"   (click)="setMonthSummOrderBtnClick('monthSummDif')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.monthSummDif}}
                <span [hidden]="!reverseMonthSummList">▼</span>  <span [hidden]="reverseMonthSummList">▲</span> </th>
              <th [class.active]="orderMonthSummList === 'monthSummTpvs'"    (click)="setMonthSummOrderBtnClick('monthSummTpvs')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.monthSummTpvs}}
                <span [hidden]="!reverseMonthSummList">▼</span>  <span [hidden]="reverseMonthSummList">▲</span> </th>
              <th [class.active]="orderMonthSummList === 'monthSummDin'"  (click)="setMonthSummOrderBtnClick('monthSummDin')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.monthSummDin}}
                <span [hidden]="!reverseMonthSummList">▼</span>  <span [hidden]="reverseMonthSummList">▲</span> </th>
              <th [class.active]="orderMonthSummList === 'monthSummMaqB'"   (click)="setMonthSummOrderBtnClick('monthSummMaqB')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.monthSummMaqB}}
                <span [hidden]="!reverseMonthSummList">▼</span>  <span [hidden]="reverseMonthSummList">▲</span> </th>
              <th [class.active]="orderMonthSummList === 'monthSummFactsHd'"   (click)="setMonthSummOrderBtnClick('monthSummFactsHd')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.monthSummFactsHd}}
                <span [hidden]="!reverseMonthSummList">▼</span>  <span [hidden]="reverseMonthSummList">▲</span> </th>
              <th [class.active]="orderMonthSummList === 'monthSummStatus'"   (click)="setMonthSummOrderBtnClick('monthSummStatus')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.monthSummStatus}}
                <span [hidden]="!reverseMonthSummList">▼</span>  <span [hidden]="reverseMonthSummList">▲</span> </th>
              <th>{{formTitles.Edit}}</th>
              <th><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></th>
              <th>{{formTitles.Delete}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let month of monthsSummYearList | orderBy: orderMonthSummList:reverseMonthSummList:caseInsensitive | filterBy:searchMonth ; let i = index"> <!-- | filterBy:searchHd  -->
              <td class="text-right"> {{i | number:'1.0-0'}}</td>
              <td class="text-right"> {{month.monthSummDate    | date:'dd-MM-yyyy'}}</td>
              <td class="text-right text-primary" style="font-weight:900">{{month.monthSummMonth | slice:0:10}}</td>
              <td class="text-right text-success"> {{month.monthSummIncomes | number:'.2-2'}}</td>
              <td class="text-right"> {{month.monthSummFacts   | number:'.2-2'}}</td>
              <td class="text-right text-primary"> {{month.monthSummDif     | number:'.2-2'}}</td>
              <td class="text-right"> {{month.monthSummTpvs    | number:'.2-2'}}</td>
              <td class="text-right text-danger"> {{month.monthSummDin     | number:'.2-2'}}</td>
              <td class="text-right"> {{month.monthSummMaqB    | number:'.2-2'}}</td>              
              <td class="text-right text-warning"> {{month.monthSummFactsHd | number:'.2-2'}}</td>
              <td *ngIf="month.monthSummStatus"><i class="fas fa-unlock-alt"></i></td>
              <td *ngIf="!month.monthSummStatus"><i class="fas fa-lock"></i></td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editMonthSummBtnClick(month)"> <span> <i class="fas fa-edit"></i></span> </button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockMonthSummBtnClick(month)"> 
                      <span> <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></span> </button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" 
                    (click)="[confirmDeleteOneMonthSummBtnClick(month)]"> 
                    <span> <i class="fas fa-trash"></i></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 

