<!--------------------------------MAQS---NAVBAR---------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-light text-primary bg-white rounded border border-primary ml-auto menu_pos1"> 
  <a class="navbar-brand text-primary bg-white rounded">
    <i class="text-danger text-capitalize font-weight-bold">{{globalVar.currentBar}}...</i><i class="fas fa-long-arrow-alt-right"></i>          
    {{formTitles.maqsHeader}} <i class="fas fa-thumbs-up"></i></a>      
  <div class="btn-group mx-auto" role="group">
    <button class="btn btn-outline-primary rounded mr-2" (click)="changeShowMaqsListBtnClick()"><span><i class="fas fa-list-ol"></i></span></button>
  </div> 
</nav>
<!--------------------------------MAQS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------MAQS---LIST---------------------------------------------------------------------->
<div *ngIf="showMaqsList">
  <nav class="navbar navbar-expand-lg navbar-light text-primary bg-maqs rounded border border-primary menu_pos2">
    <a class="navbar-brand text-primary bg-maqs rounded">
      {{formTitles.maqsListYear}} <i class="fas fa-arrow-alt-circle-right"></i>
      {{formTitles.maqsListYearString}} <i class="fas fa-arrow-alt-circle-right"></i></a>
    <a class="navbar-brand text-danger  bg-maqs rounded mx-auto" style="font-size:16px;font-weight:900">{{formTitles.maqsListTotalString | slice:0:60}}</a>
    <div class="btn-group" role="group">
      <button class="btn btn-outline-primary rounded mr-8" (click)="createMaqBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
    </div>        
    <div class="btn-group ml-auto" role="group">
      <button class="btn btn-outline-primary rounded mr-2" (click)="showSearchMaqsListBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
      <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllMaqsListBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
    </div>       
  </nav>
  <div class="card bg-white text-black rounded border border-dark">
    <div class="card-body scrollable">
      <table class="table table-hover">
        <thead class="sticky-top">
          <tr class="bg-maqs" *ngIf="showSearchMaqsList">            
            <th>-</th>  
            <th>-</th>  
            <th><input id="smaqMaqBName"  name="smaqMaqBName"  [(ngModel)]="searchMaq.maqMaqBName"  type="text" 
                  class="input-group-text ml-auto" style="width:80px;text-align:right;"></th>
            <th>-</th>
            <th>-</th> 
            <th><input id="smaqStartDate"  name="smaqStartDate"  [(ngModel)]="searchMaq.maqStartDate"  type="text" 
              class="input-group-text ml-auto" style="width:80px;text-align:right;"></th>
            <th><input id="smaqEndDate"  name="smaqEndDate"  [(ngModel)]="searchMaq.maqEndDate"  type="text" 
              class="input-group-text ml-auto" style="width:80px;text-align:right;"></th>
            <th>-</th> 
            <th>-</th> 
            <th>-</th> 
            <th>-</th>
            <th>-</th>
            <th>-</th> 
            <th>-</th> 
            <th>-</th> 
            <th>-</th> 
            <th>-</th>  
          </tr>
          <tr class="bg-listheading">  
            <th>{{formLabels.id | slice:0:5}}</th>               
            <th [class.active]="orderMaqsList === 'maqId'"    (click)="setMaqsListOrderBtnClick('maqId')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqId}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th [class.active]="orderMaqsList === 'maqMaqBName'"    (click)="setMaqsListOrderBtnClick('maqMaqBName')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqMaqBName}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th [class.active]="orderMaqsList === 'maqMaqMonth'"    (click)="setMaqsListOrderBtnClick('maqMaqMonth')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqMaqMonth}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>                 
            <th [class.active]="orderMaqsList === 'maqSumDataType'"    (click)="setMaqsListOrderBtnClick('maqSumDataType')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqSumDataType}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th [class.active]="orderMaqsList === 'maqStartDate'"    (click)="setMaqsListOrderBtnClick('maqStartDate')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqStartDate}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th [class.active]="orderMaqsList === 'maqEndDate'"    (click)="setMaqsListOrderBtnClick('maqEndDate')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqEndDate}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th [class.active]="orderMaqsList === 'maqCoin1StartInputDinAdded'"    (click)="setMaqsListOrderBtnClick('maqCoin1StartInputDinAdded')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqCoin1StartInputDinAdded}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th [class.active]="orderMaqsList === 'maqCoin2StartOutputDinDifDays'"    (click)="setMaqsListOrderBtnClick('maqCoin2StartOutputDinDifDays')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqCoin2StartOutputDinDifDays}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th [class.active]="orderMaqsList === 'maqCoin3StartDrawerDinDifCoins'"    (click)="setMaqsListOrderBtnClick('maqCoin3StartDrawerDinDifCoins')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqCoin3StartDrawerDinDifCoins}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th [class.active]="orderMaqsList === 'maqCoin4EndInputDinEnd'"    (click)="setMaqsListOrderBtnClick('maqCoin4EndInputDinEnd')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqCoin4EndInputDinEnd}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th [class.active]="orderMaqsList === 'maqCoin5EndOutputDinMechCntr'"    (click)="setMaqsListOrderBtnClick('maqCoin5EndOutputDinMechCntr')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqCoin5EndOutputDinMechCntr}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th [class.active]="orderMaqsList === 'maqDifDinMechCntrDinEnd'"    (click)="setMaqsListOrderBtnClick('maqDifDinMechCntrDinEnd')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqDifDinMechCntrDinEnd}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>                
            <th [class.active]="orderMaqsList === 'maqStatus'"    (click)="setMaqsListOrderBtnClick('maqStatus')" class="mdl-data-table__cell--non-numeric text-right">   
                {{formLabels.maqStatus}}<span [hidden]="!reverseMaqsList">▼</span><span [hidden]="reverseMaqsList">▲</span> </th>
            <th>{{formTitles.Edit}}</th>
            <th><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></th>
            <th>{{formTitles.Delete}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let maq of maqsList | orderBy: orderMaqsList:reverseMaqsList:caseInsensitive | filterBy:searchMaq ; let i = index">
            <td class="text-right"> {{i | number:'1.0-0'}}</td>
            <td class="text-right">{{maq.maqId}}</td>    
            <td class="text-left text-primary" style="font-weight:900">{{maq.maqMaqBName | slice:0:10}}</td>
            <td class="text-right text-primary" style="font-weight:900">{{maq.maqEndDate | date:'MMMM'}}</td>  
            <td class="text-right">{{maq.maqSumDataType     | slice:0:5}}</td>
            <td class="text-right text-primary">{{maq.maqStartDate  | date:'dd-MM-yyyy'}}</td> 
            <td class="text-right text-primary">{{maq.maqEndDate    | date:'dd-MM-yyyy'}}</td>  
            <td class="text-right">{{maq.maqCoin1StartInputDinAdded | number:'.2-2'}}</td>
            <td class="text-right">{{maq.maqCoin2StartOutputDinDifDays | number:'.2-2'}}</td>
            <td class="text-right">{{maq.maqCoin3StartDrawerDinDifCoins | number:'.2-2'}}</td>
            <td class="text-right text-primary" style="font-weight:900">{{maq.maqCoin4EndInputDinEnd | number:'.2-2'}}</td>
            <td class="text-right" style="font-weight:900">{{maq.maqCoin5EndOutputDinMechCntr | number:'.2-2'}}</td>
            <td class="text-right">{{(maq.maqCoin4EndInputDinEnd - maq.maqCoin5EndOutputDinMechCntr) | number:'.2-2'}}</td>
            <td *ngIf="maq.maqStatus"><i class="fas fa-unlock-alt"></i></td>
            <td *ngIf="!maq.maqStatus"><i class="fas fa-lock"></i></td>
            <td>
              <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editMaqBtnClick(maq)"> <span> <i class="fas fa-edit"></i></span> </button>
            </td>
            <td>
              <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockMaqBtnClick(maq)"> 
                    <span> <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></span> </button>
            </td>
            <td>
              <button class="btn btn-outline-primary rounded mr-2 btn-sm" 
                  (click)="[confirmDeleteOneMaqBtnClick(maq)]"> 
                  <span> <i class="fas fa-trash"></i></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>    
  
