.bg-maqsCounters {
    background-color: rgba(234, 245, 187, 0.973);
}
.bg-maqsCoins {
    background-color: rgba(248, 205, 205, 0.986);
}
.bg-maqsDiffDays {
    background-color: rgba(12, 221, 176, 0.829);
}